{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	UK government
      </h1>
    </div>
    <div class="column-third">
      <br><br>
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="time-period-selector">
        <ul>
          <li>View data for past</li>
          <li><a href="#">3 months</a></li> |
          <li id="time-period-selected">1 year</li> |
          <li><a href="#">2 years</a></li>
        </ul>  
      </div> 
    </div> 
  </div>

  <!-- summary -->

  <div class="grid-row data-summary">
    <div class="column-full">
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">806</h2>
          <p class="bold-xsmall">services</p>
        </div>
      </div>
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">2.4bn</h2>
          <p class="bold-xsmall">transactions</p>
        </div>
      </div> 
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">51%</h2>
          <p class="bold-xsmall">transactions online</p>
        </div>
      </div> 
    </div>  
  </div>

  <!-- departments -->

  <div class="grid-row" id="departments">

    <div class="column-one-third">  
      <h3 class="heading-large">Departments</h3>
      <p><a href="#">See all</a></p>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with most transactions</h4>
      <ul class="list trending-figures">
        <li><span>354m</span> <a href="grouping/departments/department-for-transport">Department for Transport</a></li>
        <li><span>200m</span> <a href="grouping/departments/home-office">Home Office</a></li>
        <li><span>132k</span> <a href="grouping/departments/department-for-education">Department for Education</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of online transactions</h4>
      <ul class="list trending-figures">
        <li><span>86%</span> <a href="grouping/departments/home-office">Home Office</a></li>
        <li><span>85%</span> <a href="grouping/departments/department-for-education">Department for Education</a></li>
        <li><span>79%</span> <a href="grouping/departments/department-for-transport">Department for Transport</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of offline transactions</h4>
      <ul class="list trending-figures">
        <li><span>21%</span> <a href="grouping/departments/department-for-transport">Department for Transport</a></li>
        <li><span>15%</span> <a href="grouping/departments/department-for-education">Department for Education</a></li>
        <li><span>14%</span> <a href="grouping/departments/home-office">Home Office</a></li>
      </ul>
    </div> 

  </div>  

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How was this calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>This data is aggregated from all the individual transactions that make up this group.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <!-- agencies -->

  <div class="grid-row" id="agencies">

    <div class="column-one-third">  
      <h3 class="heading-large">Agencies</h3>
      <p><a href="#">See all</a></p>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with most transactions</h4>
      <ul class="list trending-figures">
        <li><span>309m</span> <a href="grouping/agencies/dvla">Driver and vehicle licensing agency (DVLA)</a></li>
        <li><span>6.7m</span> <a href="grouping/agencies/dvsa">Driver and vehicle standards agency (DVSA)</a></li>
        <li><span>928k</span> <a href="grouping/agencies/hm-passport-office">HM Passport Office</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of online transactions</h4>
      <ul class="list trending-figures">
        <li><span>88%</span> <a href="grouping/agencies/dvla">Driver and vehicle licensing agency (DVLA)</a></li>
        <li><span>85%</span> <a href="grouping/agencies/dvsa">Driver and vehicle standards agency (DVSA)</a></li>
        <li><span>70%</span> <a href="grouping/agencies/hm-passport-office">HM Passport Office</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of offline transactions</h4>
      <ul class="list trending-figures">
        <li><span>30%</span> <a href="grouping/agencies/hm-passport-office">HM Passport Office</a></li>
        <li><span>15%</span> <a href="grouping/agencies/dvsa">Driver and vehicle standards agency (DVSA)</a></li>
        <li><span>12%</span> <a href="grouping/agencies/dvla">Driver and vehicle licensing agency (DVLA)</a></li>
      </ul>
    </div> 

  </div>  

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How was this calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>This data is aggregated from all the individual transactions that make up this group.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <!-- topics -->

  <div class="grid-row" id="topics">

    <div class="column-one-third">
      <h3 class="heading-large">Topics</h3>
      <p><a href="#">See all</a></p>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with most transactions</h4>
      <ul class="list trending-figures">
        <li><span>50.3m</span> <a href="grouping/topics/driving">Driving</a></li>
        <li><span>3.1m</span> <a href="grouping/topics/childcare-and-parenting">Childcare and parenting</a></li>
        <li><span>24.6k</span> <a href="grouping/topics/boating">Boating</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of online transactions</h4>
      <ul class="list trending-figures">
        <li><span>91%</span> <a href="grouping/topics/driving">Driving</a></li>
        <li><span>69%</span> <a href="grouping/topics/childcare-and-parenting">Childcare and parenting</a></li>
        <li><span>9%</span> <a href="grouping/topics/boating">Boating</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of offline transactions</h4>
      <ul class="list trending-figures">
        <li><span>91%</span> <a href="grouping/topics/boating">Boating</a></li>
        <li><span>31%</span> <a href="grouping/topics/childcare-and-parenting">Childcare and parenting</a></li>
        <li><span>9%</span> <a href="grouping/topics/driving">Driving</a></li>
      </ul>
    </div> 
 

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How was this calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>This data is aggregated from all the individual transactions that make up this group.</p>
        </div>
      </details>
    </div>
  </div> 

  <hr>

  <!-- sub-topics -->

  <div class="grid-row" id="sub-topics">

    <div class="column-one-third">
      <h3 class="heading-large">Sub-topics</h3>
      <p><a href="#">See all</a></p>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with most transactions</h4>
      <ul class="list trending-figures">
        <li><span>354m</span> <a href="grouping/sub-topics/learn-to-drive">Learn to drive</a></li>
        <li><span>200m</span> <a href="grouping/sub-topics/pregnancy-and-childbirth">Pregnancy and childbirth</a></li>
        <li><span>132k</span> <a href="grouping/sub-topics/pay-tax-on-a-vehicle">Pay tax on a vehicle</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of online transactions</h4>
      <ul class="list trending-figures">
        <li><span>86%</span> <a href="grouping/sub-topics/learn-to-drive">Learn to drive</a></li>
        <li><span>85%</span> <a href="grouping/sub-topics/pay-tax-on-a-vehicle">Pay tax on a vehicle</a></li>
        <li><span>79%</span> <a href="grouping/sub-topics/pregnancy-and-childbirth">Pregnancy and childbirth</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of offline transactions</h4>
      <ul class="list trending-figures">
        <li><span>21%</span> <a href="grouping/sub-topics/pregnancy-and-childbirth">Pregnancy and childbirth</a></li>
        <li><span>15%</span> <a href="grouping/sub-topics/pay-tax-on-a-vehicle">Pay tax on a vehicle</a></li>
        <li><span>14%</span> <a href="grouping/sub-topics/learn-to-drive">Learn to drive</a></li>
      </ul>
    </div>  

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How was this calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>This data is aggregated from all the individual transactions that make up this group.</p>
        </div>
      </details>
    </div>
  </div> 

  <hr>

  <!-- transactions -->

  <div class="grid-row" id="transactions">

    <div class="column-one-third">
      <h3 class="heading-large">Services</h3>
      <p><a href="#">See all</a></p>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with most transactions</h4>
      <ul class="list trending-figures">
        <li><span>46.9m</span> <a href="grouping/transactions/tax-your-vehicle">Tax your vehicle</a></li>
        <li><span>1.1m</span> <a href="grouping/transactions/apply-for-a-provisional-driving-license">Apply for a provisional driving license</a></li>
        <li><span>698k</span> <a href="grouping/transactions/register-a-birth">Register a birth</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of online transactions</h4>
      <ul class="list trending-figures">
        <li><span>79%</span> <a href="grouping/transactions/apply-for-a-provisional-driving-license">Apply for a provisional driving license</a></li>
        <li><span>70%</span> <a href="grouping/transactions/tax-your-vehicle">Tax your vehicle</a></li>
        <li><span>0%</span> <a href="grouping/transactions/register-a-birth">Register a birth</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of offline transactions</h4>
      <ul class="list trending-figures">
        <li><span>100%</span> <a href="grouping/transactions/register-a-birth">Register a birth</a></li>
        <li><span>30%</span> <a href="grouping/transactions/tax-your-vehicle">Tax your vehicle</a></li>
        <li><span>21%</span> <a href="grouping/transactions/apply-for-a-provisional-driving-license">Apply for a provisional driving license</a></li>
      </ul>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How was this calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>This data is aggregated from all the individual transactions that make up this group.</p>
        </div>
      </details>
    </div>
  </div> 

</main>

{% endblock %}


