{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	across government
      </h1>
    </div>
    <div class="column-third">
      <br><br>
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="time-period-selector">
        <ul>
          <li>View data for past</li>
          <li><a href="#">3 months</a></li> |
          <li id="time-period-selected">1 year</li> |
          <li><a href="#">2 years</a></li>
        </ul>  
      </div> 
    </div>   
  </div>

  <!-- summary -->

  <div class="grid-row data-summary">
    <div class="column-full">
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">806</h2>
          <p class="bold-xsmall">transactional services</p>
        </div>
      </div>
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">2.38bn</h2>
          <p class="bold-xsmall">transactions</p>
        </div>
      </div> 
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">50%</h2>
          <p class="bold-xsmall">transactions online</p>
        </div>
      </div> 
    </div>  
  </div>

  <!-- departments -->

  <div class="grid-row" id="departments">

    <div class="column-one-third">  
      <h3 class="heading-large">Departments</h3>
      <p><a href="#">View all</a></p>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest transactions</h4>
      <ul class="list trending-figures">
        <li><span>354m</span> <a href="grouping/departments/department-for-transport">Department for Transport</a></li>
        <li><span>200m</span> <a href="grouping/departments/home-office">Home Office</a></li>
        <li><span>132k</span> <a href="grouping/departments/department-for-education">Department for Education</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest percentage online transactions</h4>
      <ul class="list trending-figures">
        <li><span>86%</span> <a href="grouping/departments/home-office">Home Office</a></li>
        <li><span>85%</span> <a href="grouping/departments/department-for-education">Department for Education</a></li>
        <li><span>79%</span> <a href="grouping/departments/department-for-transport">Department for Transport</a></li>
      </ul>
    </div> 

  </div>  

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>This data is aggregated from all the individual transactions that make up this group.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <!-- topics -->

  <div class="grid-row" id="topics">

    <div class="column-one-third">
      <h3 class="heading-large">Topics</h3>
      <p><a href="#">View all</a></p>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest transactions</h4>
      <ul class="list trending-figures">
        <li><span>354m</span> <a href="grouping/topics/childcare-and-parenting">Childcare and parenting</a></li>
        <li><span>200m</span> <a href="grouping/topics/driving">Driving</a></li>
        <li><span>132k</span> <a href="grouping/topics/boating">Boating</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest percentage online transactions</h4>
      <ul class="list trending-figures">
        <li><span>95%</span> <a href="grouping/topics/driving">Driving</a></li>
        <li><span>81%</span> <a href="grouping/topics/childcare-and-parenting">Childcare and parenting</a></li>
        <li><span>20%</span> <a href="grouping/topics/boating">Boating</a></li>
      </ul>
    </div> 
 

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>This data is aggregated from all the individual transactions that make up this group.</p>
        </div>
      </details>
    </div>
  </div> 

  <hr>

  <!-- sub-topics -->

  <div class="grid-row" id="sub-topics">

    <div class="column-one-third">
      <h3 class="heading-large">Sub-topics</h3>
      <p><a href="#">View all</a></p>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest transactions</h4>
      <ul class="list trending-figures">
        <li><span>354m</span> <a href="#">Learn to drive</a></li>
        <li><span>200m</span> <a href="#">Pregnancy and childbirth</a></li>
        <li><span>132k</span> <a href="#">Pay tax on a vehicle</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest percentage online transactions</h4>
      <ul class="list trending-figures">
        <li><span>86%</span> <a href="#">Learn to drive</a></li>
        <li><span>85%</span> <a href="#">Pay tax on a vehicle</a></li>
        <li><span>79%</span> <a href="#">Pregnancy and childbirth</a></li>
      </ul>
    </div>  

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>This data is aggregated from all the individual transactions that make up this group.</p>
        </div>
      </details>
    </div>
  </div> 

  <hr>

  <!-- transactions -->

  <div class="grid-row" id="transactions">

    <div class="column-one-third">
      <h3 class="heading-large">Transactions</h3>
      <p><a href="#">View all</a></p>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest transactions</h4>
      <ul class="list trending-figures">
        <li><span>46.9m</span> <a href="grouping/transactions/tax-your-vehicle">Tax your vehicle</a></li>
        <li><span>1.1m</span> <a href="grouping/transactions/apply-for-a-provisional-driving-license">Apply for a provisional driving license</a></li>
        <li><span>698.5k</span> <a href="grouping/transactions/register-a-birth">Register a birth</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest percentage online transactions</h4>
      <ul class="list trending-figures">
        <li><span>79%</span> <a href="grouping/transactions/apply-for-a-provisional-driving-license">Apply for a provisional driving license</a></li>
        <li><span>70%</span> <a href="grouping/transactions/tax-your-vehicle">Tax your vehicle</a></li>
        <li><span>0%</span> <a href="grouping/transactions/register-a-birth">Register a birth</a></li>
      </ul>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>This data is aggregated from all the individual transactions that make up this group.</p>
        </div>
      </details>
    </div>
  </div> 

</main>

{% endblock %}


