{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	across government
      </h1>
    </div>
    <div class="column-third">
      <br><br>
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="time-period-selector">
      <ul>
        <li>View data for past</li>
        <li><a href="#">3 months</a></li>|
        <li><a href="#">6 months</a></li>|
        <li id="time-period-selected">1 year</li>|
        <li><a href="#">2 years</a></li>
      </ul>  
    </div>  
  </div>

  <!-- summary -->

  <div class="grid-row data-summary">
    <div class="column-full">
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">806</h2>
          <p class="bold-xsmall">transactional services</p>
        </div>
      </div>
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">2.38bn</h2>
          <p class="bold-xsmall">transactions</p>
        </div>
      </div> 
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">72%</h2>
          <p class="bold-xsmall">transactions online</p>
        </div>
      </div> 
    </div>  
  </div>

  <!-- departments -->

  <div class="grid-row" id="departments">

    <div class="column-one-third">  
      <h3 class="heading-large">Departments</h3>
      <p><a href="#">View all</a></p>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest transactions</h4>
      <ul class="list trending-figures">
        <li><span>354m</span> <a href="grouping/departments/department-for-transport">Department for Transport</a></li>
        <li><span>200m</span> <a href="grouping/departments/home-office">Home Office</a></li>
        <li><span>132k</span> <a href="grouping/departments/department-for-education">Department for Education</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest % online transactions</h4>
      <ul class="list trending-figures">
        <li><span>86%</span> <a href="grouping/departments/home-office">Home Office</a></li>
        <li><span>85%</span> <a href="grouping/departments/department-for-education">Department for Education</a></li>
        <li><span>79%</span> <a href="grouping/departments/department-for-transport">Department for Transport</a></li>
      </ul>
    </div> 

  </div>  

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>This data is aggregated from all the individual transactions that make up this group.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <!-- agencies 

  <div class="grid-row" id="agencies">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">311</h2>
        <h3 class="bold-medium">Agencies</h3>
        <p><a href="#">View all</a></p>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Agencies with increasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>+10%</span> <a href="department-page">Department for Transport</a></li>
        <li><span>+9%</span> <a href="#">Department for Work and Pensions</a></li>
        <li><span>+8%</span> <a href="#">Cabinet Office</a></li>
        <li><span>+7%</span> <a href="#">Department for Environment, Food &amp; Rural Affairs</a></li>
        <li><span>+6%</span> <a href="#">Department for Business, Innovation &amp; Skills</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-decrease-arrow">&#9660;</span> Agencies with decreasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>&minus;10%</span> <a href="#">Home Office</a></li>
        <li><span>&minus;9%</span> <a href="#">HM Treasury</a></li>
        <li><span>&minus;8%</span> <a href="#">Department of Energy &amp; Climate Change</a></li>
        <li><span>&minus;7%</span> <a href="#">Ministry of Defence</a></li>
        <li><span>&minus;6%</span> <a href="#">Department for Education</a></li>
      </ul>
    </div> 

  </div>  

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr> -->

  <!-- topics -->

  <div class="grid-row" id="topics">

    <div class="column-one-third">
      <h3 class="heading-large">Topics</h3>
      <p><a href="#">View all</a></p>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest transactions</h4>
      <ul class="list trending-figures">
        <li><span>354m</span> <a href="grouping/topics/early-years-and-childcare">Early years and childcare</a></li>
        <li><span>200m</span> <a href="grouping/topics/driving">Driving</a></li>
        <li><span>132k</span> <a href="grouping/topics/boating">Boating</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest % online transactions</h4>
      <ul class="list trending-figures">
        <li><span>95%</span> <a href="grouping/topics/driving">Driving</a></li>
        <li><span>81%</span> <a href="grouping/topics/early-years-and-childcare">Early years and childcare</a></li>
        <li><span>20%</span> <a href="grouping/topics/boating">Boating</a></li>
      </ul>
    </div> 
 

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div> 

  <hr>

  <!-- sub-topics -->

  <div class="grid-row" id="sub-topics">

    <div class="column-one-third">
      <h3 class="heading-large">Sub-topics</h3>
      <p><a href="#">View all</a></p>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest transactions</h4>
      <ul class="list trending-figures">
        <li><span>354m</span> <a href="#">Insert text here</a></li>
        <li><span>200m</span> <a href="#">Insert text here</a></li>
        <li><span>132k</span> <a href="#">Insert text here</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest % online transactions</h4>
      <ul class="list trending-figures">
        <li><span>86%</span> <a href="#">Insert text here</a></li>
        <li><span>85%</span> <a href="#">Insert text here</a></li>
        <li><span>79%</span> <a href="#">Insert text here</a></li>
      </ul>
    </div>  

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div> 

  <hr>

  <!-- transactions -->

  <div class="grid-row" id="transactions">

    <div class="column-one-third">
      <h3 class="heading-large">Transactions</h3>
      <p><a href="#">View all</a></p>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest transactions</h4>
      <ul class="list trending-figures">
        <li><span>354m</span> <a href="#">Insert text here</a></li>
        <li><span>200m</span> <a href="#">Insert text here</a></li>
        <li><span>132k</span> <a href="#">Insert text here</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Highest % online transactions</h4>
      <ul class="list trending-figures">
        <li><span>86%</span> <a href="#">Insert text here</a></li>
        <li><span>85%</span> <a href="#">Insert text here</a></li>
        <li><span>79%</span> <a href="#">Insert text here</a></li>
      </ul>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div> 

</main>

{% endblock %}


