{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	Pregnancy and childbirth
      </h1>
    </div>
    <div class="column-third">
      <br><br>
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="time-period-selector">
        <ul>
          <li>View data for past</li>
          <li><a href="#">3 months</a></li> |
          <li id="time-period-selected">1 year</li> |
          <li><a href="#">2 years</a></li>
        </ul>  
      </div> 
    </div> 
  </div>

  <!-- summary -->

  <div class="grid-row data-summary">
    <div class="column-full">
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">9</h2>
          <p class="bold-xsmall">services
          <br><a href="#service-list">See all</a></p>
        </div>
      </div>
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">1.8m</h2>
          <p class="bold-xsmall">transactions
          <br><a href="#transactions">More info</a></p>
        </div>
      </div> 
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">28%</h2>
          <p class="bold-xsmall">transactions online
          <br><a href="#channel-breakdown">More info</a></p>
        </div>
      </div> 
    </div>    
  </div>

  <!-- transactions info -->

  <div class="grid-row" id="transactions">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">1.8m</h2>
        <p class="bold-medium">transactions</p>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with the most transactions</h4>
      <ul class="list trending-figures">
        <li><span>698k</span> <a href="#">Register a birth</a></li>
        <li><span>300k</span> <a href="#">Maternity allowance claim form</a></li>
        <li><span>58,012</span> <a href="#">Application for Healthy Start vouchers</a></li>
        <li><span>56,824</span> <a href="#">Register a birth abroad</a></li>
        <li><span>49,001</span> <a href="#">Apply to foster a child through your council</a></li>
      </ul> 
      <br>

      <h4 class="heading-small">Services with the least transactions</h4>
      <ul class="list trending-figures">
        <li><span>1,000</span> <a href="#">Appeal to the Social Security and Child Support Tribunal</a></li>
        <li><span>3,421</span> <a href="#">Register a stillbirth</a></li>
        <li><span>12,198</span> <a href="#">Order a copy of a birth, death or marriage certificate</a></li>
        <li><span>48,488</span> <a href="#">Sure start maternity claim form</a></li>
      </ul>
    </div> 

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div>

  <hr>

  <!-- channel breakdown - need to change service data to be a table layout so numbers can align correctly -->

  <div class="grid-row" id="channel-breakdown">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">32%</h2>
        <p class="bold-medium">transactions by paper</p>
      </div>  
      <!-- <p class="lede"><span class="data-increase-arrow">&#9650;</span> +1.2% increase</p> -->
      <div class="data breakdown">
        <h3 class="bold-large">28% <span class="lede">online</span></h3>
        <h3 class="bold-large">21% <span class="lede">face-to-face</span></h3>
        <h3 class="bold-large">19% <span class="lede">other</span></h3>
        <h3 class="bold-large">10% <span class="lede">phone</span></h3>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with the highest percentage of online transactions</h4>
      <ul class="list trending-figures">
        <li><span>50%</span> <a href="#">Order a copy of a birth, death or marriage certificate</a></li>
        <li><span>36%</span> <a href="#">Application for Healthy Start vouchers</a></li>
        <li><span>32%</span> <a href="#">Appeal to the Social Security and Child Support Tribunal</a></li>
        <li><span>29%</span> <a href="#">Sure start maternity claim form</a></li>
        <li><span>28%</span> <a href="#">Apply to foster a child through your council</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of offline transactions</h4>
      <ul class="list trending-figures">
        <li><span>95%</span> <a href="../transactions/register-a-birth">Register a birth</a></li>
        <li><span>86%</span> <a href="#">Register a birth abroad</a></li>
        <li><span>54%</span> <a href="#">Apply to foster a child through your council</a></li>
        <li><span>53%</span> <a href="#">Register a stillbirth</a></li>
      </ul>
    </div> 

  </div>  

  <br>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <!-- full list of services -->

  <div class="grid-row" id="service-list">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">9</h2>
        <p class="bold-medium">services</p>
      </div>
    </div> 

    <div class="column-two-thirds">
      <ul class="list">
        <li><a href="#">Sure start maternity claim form</a></li>
        <li><a href="#">Register a birth</a></li>
        <li><a href="#">Order a copy of a birth, death or marriage certificate</a></li>
        <li><a href="#">Apply to foster a child through your council</a></li>
        <li><a href="#">Maternity allowance claim form</a></li>
        <li><a href="#">Application for Healthy Start vouchers</a></li>
        <li><a href="#">Register a birth abroad</a></li>
        <li><a href="#">Register a stillbirth</a></li>
        <li><a href="#">Appeal to the Social Security and Child Support Tribunal</a></li>
      </ul>
    </div>  

  </div>

</main>

{% endblock %}


