<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/prototype-v0-alt" id="proposition-name">{% if serviceName %} {{ serviceName }} {% endif %}</a>
      
      <ul id="proposition-links">
        <li><a href="/prototype-v0-alt/grouping">View summary</a></li>
        <li><a href="/prototype-v0-alt/custom-grouping">Compare services</a></li>
      </ul>
      
    </nav>
  </div>
</div>

