{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- <div class="phase-banner-alpha">
	  <p>
	    <strong class="phase-tag">DISCO ALPHA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div> -->		

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Performance data for</span>
        Apply for a provisional driving license
      </h1>

      <p>This transaction allows users to apply for a provisional driving license so that they can begin to learn to drive.</p>

      <p><a href="#">View start page on GOV.UK</a></p>

    </div>

    <div class="column-one-third">
      <br><br>
      <p class="font-xsmall">
        <span class="bold-xsmall">Department</span><br>
        <a href="../department-page">Department for Transport</a>
      </p>
      <p class="font-xsmall">
        <span class="bold-xsmall">Agency</span><br>
        <a href="#">Driver and Vehicle Licensing Agency</a>
      </p>
      <p class="font-xsmall">
        <span class="bold-xsmall">Tags</span><br>
        <a href="../theme-page">Driving</a>, <a href="#">Further education and skills</a>, <a href="#">Transport</a>
      </p>
      <p class="font-xsmall">
        <span class="bold-xsmall">Data submitted by</span><br>
        HM Treasury
      </p>
      <p class="font-xsmall">
        <span class="bold-xsmall">Last updated</span><br>
        22 June 2016
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      
    </div>
  </div>

  <div class="grid-row">
    <div class="time-period-selector border-top">
      <ul>
        <li>View data for past</li>
        <li><a href="#">3 months</a></li>|
        <li id="time-period-selected">6 months</li>|
        <li><a href="#">1 year</a></li>|
        <li><a href="#">2 years</a></li>
      </ul>  
    </div>  
  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">1.2m</h2>
        <p class="bold-xsmall">transactions completed</p>
        <p class="xsmall"><span class="data-increase-arrow">&#9650;</span> 10% increase</p>
        <hr>
      </div>
      <div class="data">
        <h2 class="bold-xlarge">79%</h2>
        <p class="bold-xsmall">transactions performed online</p>
        <p class="xsmall"><span class="data-decrease-arrow">&#9660;</span> 1.2% decrease</p>
      </div>
    </div> 

    <div class="column-two-thirds">
      <h4 class="bold-medium">Transactions completed 1 January &ndash; 30 June</h4>
      <ul class="bar-chart-key font-xsmall">
        <li>Online</li>
        <li>Phone</li>
        <li>Paper</li>
      </ul>  
      <ul class="bar-chart">
        <li>
          <span>28,496</span>
          <div class="bar paper" id="bar-chart-value-1-2"></div>
          <div class="bar phone" id="bar-chart-value-1-1"></div>
          <div class="bar" id="bar-chart-value-1"></div>
          <span>Jan</span>
        </li>
        <li>
          <span>30,395</span>
          <div class="bar paper" id="bar-chart-value-2-2"></div>
          <div class="bar phone" id="bar-chart-value-2-1"></div>
          <div class="bar" id="bar-chart-value-2"></div>
          <span>Feb</span>
        </li>
        <li>
          <span>32,294</span>
          <div class="bar paper" id="bar-chart-value-2-2"></div>
          <div class="bar phone" id="bar-chart-value-2-1"></div>
          <div class="bar" id="bar-chart-value-3"></div>
          <span>Mar</span>
        </li>
        <li>
          <span>32,394</span>
          <div class="bar paper" id="bar-chart-value-4-2"></div>
          <div class="bar phone" id="bar-chart-value-4-1"></div>
          <div class="bar" id="bar-chart-value-4"></div>
          <span>Apr</span>
        </li>
        <li>
          <span>30,299</span>
          <div class="bar paper" id="bar-chart-value-5-2"></div>
          <div class="bar phone" id="bar-chart-value-5-1"></div>
          <div class="bar" id="bar-chart-value-5"></div>
          <span>May</span>
        </li>
        <li>
          <span>34,194</span>
          <div class="bar paper" id="bar-chart-value-6-2"></div>
          <div class="bar phone" id="bar-chart-value-6-1"></div>
          <div class="bar" id="bar-chart-value-6"></div>
          <span>Jun</span>
        </li>
      </ul>
    </div>

  </div> 

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online users is collected via Google Analytics. Other channels are collected by etc. etc.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <div class="grid-row">
    <div class="column-one-third">
      <h4 class="bold-medium">2 transactions rely on this</h4>
    </div>
    <div class="column-two-thirds">  
      <ul class="list">
        <li><a href="#">Apply for this thing</a></li>
        <li><a href="#">Check eligibility for this thing</a></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="grid-row">  
    <div class="column-one-third">
      <h4 class="bold-medium">This transaction uses</h4>
    </div>
    <div class="column-two-thirds">  
      <ul class="list">
        <li><a href="#">Notifications</a></li>
        <li><a href="#">In-person appointment</a></li>
        <li><a href="#">Eligibility check</a></li>
      </ul>
    </div>
  </div> 

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>
  </div>

</main>

{% endblock %}


