{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	218 services tagged with &ldquo;Transport&rdquo;
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>View data for past <a href="#">3 months</a> | 6 months | <a href="#">1 year</a> | <a href="#">2 years</a><br></p>
    </div>  
  </div>

  <hr><!-- section break marker -->

  <div class="grid-row">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">67%</h2>
        <p class="bold-medium">of transactions are performed online</p>
        <p class="lede">&#9650; +1.2% increase</p>
        <p class="font-xsmall">
          15% paper<br>
          10% phone<br>
          8% face to face<br>
        </p>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">&#9650; Increasing digital take-up</h4>
      <ul class="list">
        <li>+10% <a href="#">Apply for a provisional driving license</a></li>
        <li>+9% <a href="#">Vehicle tax checks by individuals</a></li>
        <li>+8% <a href="#">Vehicle tax renewals</a></li>
        <li>+7% <a href="#">Driving license checks by third parties</a></li>
        <li>+6% <a href="#">Reports of destroyed or damaged vehicles</a></li>
      </ul>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">&#9660; Decreasing digital take-up</h4>
      <ul class="list">
        <li>&minus;10% <a href="#">Driving instructor applications</a></li>
        <li>&minus;9% <a href="#">Replace a tax disc</a></li>
        <li>&minus;8% <a href="#">Digital tachograph card applications</a></li>
        <li>&minus;7% <a href="#">HGV and PSV test bookings</a></li>
        <li>&minus;6% <a href="#">Report death of driver</a></li>
      </ul>
    </div> 

  </div>  

  <br>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online users is collected via Google Analytics. Other channels are collected by etc. etc.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr><!-- section break marker -->



</main>

{% endblock %}


