{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="heading-secondary">Performance data for</span>
        Register a birth
      </h1>
      <p>This service allows parents, guardians or witnesses to register the birth of a child so that the child has a record with government. <a href="https://www.gov.uk/register-birth/overview">View start page on GOV.UK</a></p>
      <div class="notice notice-spacing">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>

    <div class="column-one-third">
      <br><br>
      <p class="font-xsmall">
        <span class="bold-xsmall">Department</span><br>
        <a href="../departments/home-office">Home Office</a>
      </p>
      <p class="font-xsmall">
        <span class="bold-xsmall">Agency</span><br>
        <a href="../agencies/hm-passport-office">HM Passport Office</a>
      </p>
      <p class="font-xsmall">
        <span class="bold-xsmall">Topics</span><br>
        <a href="../topics/childcare-and-parenting">Childcare and parenting</a>, <a href="../sub-topics/pregnancy-and-childbirth">Pregnancy and childbirth</a>
      </p>
      <p class="font-xsmall">
        <span class="bold-xsmall">Data provided by</span><br>
        Home Office
      </p>
      <p class="font-xsmall">
        <span class="bold-xsmall">Last updated</span><br>
        31 June 2016
      </p>
    </div>

  </div>


  <div class="grid-row">
    <div class= "column-full">
      <div class="time-period-selector border-bottom border-top">
        <ul>
          <li>View data for past</li>
          <li><a href="#">3 months</a></li> |
          <li id="time-period-selected">1 year</li> |
          <li><a href="#">2 years</a></li>
        </ul> 
      </div> 
    </div> 
  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <h3 class="bold-medium" style="margin-bottom: 15px">Transactions</h3>
      <div class="data">
        <h2 class="bold-xlarge">698.5k</h2>
        <p class="xsmall"><span class="data-decrease-arrow">&#9660;</span> 0.5% decrease</p>
        <hr>
      </div>
      <h3 class="bold-medium" style="margin-bottom: 15px">Channel breakdown</h3>
      <div class="data breakdown">
        <h3 class="bold-large">95% <span class="lede">paper</span></h3>
        <h3 class="bold-large">5% <span class="lede">other</span></h3>
      </div>
      <br>
    </div> 

    <div class="column-two-thirds">
      <h4 class="bold-medium">Transactions completed 1 July 2015 &ndash; 30 June 2016</h4>
      <ul class="bar-chart-key font-xsmall">
        <li>Paper</li>
        <li>Other</li>
        <li style="display:none">Not showing</li>
      </ul>
      <ul class="bar-chart">
        <li>
          <span>174,501</span>
          <div class="bar phone" style="height:5%"></div>
          <div class="bar" style="height:95%"></div>
          <span>Jul&ndash;Sep</span>
        </li>
        <li>
          <span>160,876</span>
          <div class="bar phone" style="height:8%"></div>
          <div class="bar" style="height:88%"></div>
          <span>Oct&ndash;Dec</span>
        </li>
        <li>
          <span>167,321</span>
          <div class="bar phone" style="height:8%"></div>
          <div class="bar" style="height:92%"></div>
          <span>Jan&ndash;Mar</span>
        </li>
        <li>
          <span>159,996</span>
          <div class="bar phone" style="height:8%"></div>
          <div class="bar" style="height:88%"></div>
          <span>Apr&ndash;Jun</span>
        </li>
      </ul>
    </div>

  </div> 

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <div class="grid-row">
    <div class="column-one-third">
      <h4 class="bold-medium">Related services</h4>
    </div>
    <div class="column-two-thirds">  
      <ul class="list">
        <li><a href="#">Order a copy of a birth, death, or marriage certificate</a></li>
        <li><a href="#">Register a birth abroad</a></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="grid-row">  
    <div class="column-one-third">
      <h4 class="bold-medium">Service components</h4>
    </div>
    <div class="column-two-thirds">  
      <ul class="list">
        <li><a href="#">Notifications</a></li>
        <li><a href="#">In-person appointment</a></li>
        <li><a href="#">Eligibility check</a></li>
      </ul>
    </div>
  </div> 



</main>

{% endblock %}


