{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	across government
      </h1>
    </div>
    <div class="column-third">
      <br><br>
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="time-period-selector">
      <ul>
        <li>View data for past</li>
        <li><a href="#">3 months</a></li>|
        <li id="time-period-selected">6 months</li>|
        <li><a href="#">1 year</a></li>|
        <li><a href="#">2 years</a></li>
      </ul>  
    </div>  
  </div>

  <!-- summary -->

  <div class="grid-row data-summary">
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">806</h2>
        <p class="bold-xsmall">services reporting data
        <!-- <br><a href="#service-list">See all</a></p> -->
      </div>
    </div>
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">2.38bn</h2>
        <p class="bold-xsmall">transactions handled
        <!-- <br><a href="#transactions">More info</a></p> -->
      </div>
    </div> 
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">72%</h2>
        <p class="bold-xsmall">of transactions performed online
        <!-- <br><a href="#channel-breakdown">More info</a></p> -->
      </div>
    </div>   
  </div>

  <hr>

  <!-- departments -->

  <div class="grid-row" id="departments">

    <div class="column-one-third">
      <h3 class="heading-large">Departments</h3>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Departments with increasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>+10%</span> <a href="department-page">Department for Transport</a></li>
        <li><span>+9%</span> <a href="#">Department for Work and Pensions</a></li>
        <li><span>+8%</span> <a href="#">Cabinet Office</a></li>
        <li><span>+7%</span> <a href="#">Department for Environment, Food &amp; Rural Affairs</a></li>
        <li><span>+6%</span> <a href="#">Department for Business, Innovation &amp; Skills</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-decrease-arrow">&#9660;</span> Departments with decreasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>&minus;10%</span> <a href="#">Home Office</a></li>
        <li><span>&minus;9%</span> <a href="#">HM Treasury</a></li>
        <li><span>&minus;8%</span> <a href="#">Department of Energy &amp; Climate Change</a></li>
        <li><span>&minus;7%</span> <a href="#">Ministry of Defence</a></li>
        <li><span>&minus;6%</span> <a href="#">Department for Education</a></li>
      </ul>
    </div> 

  </div>  

  <br>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p></p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <!-- agencies -->

  <div class="grid-row" id="departments">

    <div class="column-one-third">
      <h3 class="heading-large">Agencies</h3>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Agencies with increasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>+10%</span> <a href="department-page">Department for Transport</a></li>
        <li><span>+9%</span> <a href="#">Department for Work and Pensions</a></li>
        <li><span>+8%</span> <a href="#">Cabinet Office</a></li>
        <li><span>+7%</span> <a href="#">Department for Environment, Food &amp; Rural Affairs</a></li>
        <li><span>+6%</span> <a href="#">Department for Business, Innovation &amp; Skills</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-decrease-arrow">&#9660;</span> Agencies with decreasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>&minus;10%</span> <a href="#">Home Office</a></li>
        <li><span>&minus;9%</span> <a href="#">HM Treasury</a></li>
        <li><span>&minus;8%</span> <a href="#">Department of Energy &amp; Climate Change</a></li>
        <li><span>&minus;7%</span> <a href="#">Ministry of Defence</a></li>
        <li><span>&minus;6%</span> <a href="#">Department for Education</a></li>
      </ul>
    </div> 

  </div>  

  <br>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p></p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <!-- topics -->

  <div class="grid-row" id="topics">

    <div class="column-one-third">
      <h3 class="heading-large">Topics</h3>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Themes with increasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>+10%</span> <a href="#">Transport</a></li>
        <li><span>+9%</span> <a href="#">Benefits</a></li>
        <li><span>+8%</span> <a href="#">Employing people</a></li>
        <li><span>+7%</span> <a href="#">Visas and immigration</a></li>
        <li><span>+6%</span> <a href="#">Working, jobs and pensions</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-decrease-arrow">&#9660;</span> Themes with decreasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>&minus;10%</span> <a href="#">Crime, justice and the law</a></li>
        <li><span>&minus;9%</span> <a href="#">Environment and countryside</a></li>
        <li><span>&minus;8%</span> <a href="#">Childcare and parenting</a></li>
        <li><span>&minus;7%</span> <a href="#">Money and tax</a></li>
        <li><span>&minus;6%</span> <a href="#">Education and learning</a></li>
      </ul>
    </div>  

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p></p>
        </div>
      </details>
    </div>
  </div> 

  <hr>

  <!-- sub-topics -->

  <div class="grid-row" id="topics">

    <div class="column-one-third">
      <h3 class="heading-large">Themes</h3>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Themes with increasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>+10%</span> <a href="#">Transport</a></li>
        <li><span>+9%</span> <a href="#">Benefits</a></li>
        <li><span>+8%</span> <a href="#">Employing people</a></li>
        <li><span>+7%</span> <a href="#">Visas and immigration</a></li>
        <li><span>+6%</span> <a href="#">Working, jobs and pensions</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-decrease-arrow">&#9660;</span> Themes with decreasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>&minus;10%</span> <a href="#">Crime, justice and the law</a></li>
        <li><span>&minus;9%</span> <a href="#">Environment and countryside</a></li>
        <li><span>&minus;8%</span> <a href="#">Childcare and parenting</a></li>
        <li><span>&minus;7%</span> <a href="#">Money and tax</a></li>
        <li><span>&minus;6%</span> <a href="#">Education and learning</a></li>
      </ul>
    </div>  

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p></p>
        </div>
      </details>
    </div>
  </div> 

  <hr>

  <!-- transactions -->

  <div class="grid-row" id="transactions">

    <div class="column-one-third">
      <h3 class="heading-large">Transactions</h3>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small"><span class="data-increase-arrow">&#9650;</span> Transactions with increasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>+10%</span> <a href="#">Apply for a passport</a></li>
        <li><span>+9%</span> <a href="#">Register to vote</a></li>
        <li><span>+8%</span> <a href="#">Tax credits transactions</a></li>
        <li><span>+7%</span> <a href="#">Self assessment transactions</a></li>
        <li><span>+6%</span> <a href="#">Check driving status</a></li>
      </ul>
      <br>
      <h4 class="heading-small"><span class="data-decrease-arrow">&#9660;</span> Transactions with decreasing online transactions</h4>
      <ul class="list trending-figures">
        <li><span>&minus;10%</span> <a href="#">Home Office</a></li>
        <li><span>&minus;9%</span> <a href="#">HM Treasury</a></li>
        <li><span>&minus;8%</span> <a href="#">Department of Energy &amp; Climate Change</a></li>
        <li><span>&minus;7%</span> <a href="#">Ministry of Defence</a></li>
        <li><span>&minus;6%</span> <a href="#">Department for Education</a></li>
      </ul>
    </div> 

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p></p>
        </div>
      </details>
    </div>
  </div> 

  <hr>

  <!-- another break -->

<!--   <div class="grid-row">
    <div class="column-one-third">
      <h4 class="bold-large">Notifications</h4>
    </div>
  </div> -->

</main>

{% endblock %}


