// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

strong {
  font-weight: 700;
}

// Less spacing for headings after <hr> keylines

hr + .grid-row .column-two-thirds h2 {
  margin-top: 5px;
}

// Header banner (this pattern probably already exists somewhere else but meh)

.header-banner {
  @include core-19;
  color: $white;
  background-color: $govuk-blue;
  width: 100%;
  margin-top: -10px;
  padding-bottom: 60px;

  div {
    max-width: 990px;
    margin: 0 auto;
  }

  h1 {
    margin: 0 0 30px;
  }

  p {
    margin-bottom: 30px;
  }

  a {
    color: $white;
  }

  a:hover {
    color: #e3f0f7;
  }

  .button {
    background-color: $white;
    color: $govuk-blue;
    box-shadow: 0 2px 0 $grey-2;
    font-size: 24px;
    padding-bottom: 10px;
    margin-right: 15px;
  }

  .button:hover {
    background-color: #e3f0f7;
  }

  .phase-banner-alpha {
    color: #fff;
    border-bottom: none;
    padding-left: 30px;

    p {
      color: $white;
    }

  }

}

// search box (this is a mess)

.search {

  input {
    -webkit-appearance: none;
    border: none;
    font-size: 19px;
    line-height: 40px;
    padding: 0 10px;
  }

  .submit {
    background-color: $black;
    background-image: url("../images/icon-search-2x.png"); 
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 11px;
    color: rgba(0,0,0,0);
    width: 40px;
    position: relative;
    left: 492px;
    top: -40px;
  }

  .submit:hover {
    cursor: pointer;
  }

}

.twitter-typeahead {
  width: 75%;
}

.tt-suggestion {
  color: $black;
}

.tt-menu {
   width: 100%;
}

::-webkit-input-placeholder {
   color: $secondary-text-colour;
}

// feed download thing

.feeds {
  @include core-16;

  a {
    font-weight: 700;
    margin-left: 15px;
  }

  a:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 14px; 
    padding-right: 5px;
    vertical-align: middle;
  }
}

.feed-email {
  background: url("../images/mail-icon.png"); 
  background-size: 20px;
  background-repeat: no-repeat;
}

.feed-feed {
  background-image: url("../images/feed-icon.png"); 
  background-size: 14px;
  background-repeat: no-repeat;
}

// Download data link on transaction pages 

.notice-spacing {
  padding: 15px 0;
}

// // Time period selector

// .time-period-selector {
//   padding: 15px 0;

//   li {
//     display: inline;
//     padding: 0 5px 0;
//   }

//   li:first-of-type {
//     padding-left: 0;
//   }

// }

// .border-bottom {
//   border-bottom: 1px solid $border-colour;
//   margin-bottom: 30px;
// }

// .border-top {
//   margin-top: 30px;
//   border-top: 1px solid $border-colour;
// }

// #time-period-selected {
//   font-weight: bold;
// }

// Filters

.filter-panel {
  padding: 0 30px 30px 15px;
}

.filter-tags { 
  display: block;

  li {
    display: inline-block;
    margin: 0 10px 10px 0;
    background-color: $panel-colour;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
  }

  li:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/close-icon.png");
    background-size: 20px;
    background-repeat: none;
    vertical-align: middle;
    margin-left: 15px;
    }

    li:hover {
      cursor: pointer;
    }

}

// Listing

.transaction-listing {
  border: 1px solid $border-colour;
  padding: 0 15px;
  margin-bottom: 15px;

  h3 {
    margin-top: 15px;
  }

}

.text-supporting {
  @include core-16;
  margin: -15px 0 30px;
  color: $secondary-text-colour;
}

// Add class form controls to make them 100% width

.form-control-1 {
  width: 100%;
}

// Data summary numbers at top of pages

.data-summary {
  margin-top: -30px;
  margin-bottom: 15px;
}

.data-box {
  color: $white;
  background-color: $govuk-blue;
  padding: 25px 25px 10px;
  border: 2.5px solid $white;
  min-height: 180px;

  a {
    color: $white;
  }

  p {
    margin-bottom: 5px;
  }

}

.data-box-alt {
  color: $white!important;
  background-color: $govuk-blue;
  padding: 25px 25px 10px;
  border: 2.5px solid $white;
  min-height: 190px;
  text-decoration: none;
  margin-bottom: 30px;

  p {
    text-decoration: underline;
  }

}

.data-box-alt:hover {
  color: #e3f0f7!important;
}

// Summary title text used at end of custom view process

.heading-summary {
  font-weight: 300;
  margin-bottom: 45px;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: $govuk-blue;
  }

}

// Colours for arrows and warning text

.data-increase-arrow { color: $button-colour; }
.data-decrease-arrow, .warning-text { color: $mellow-red; }
.data-neutral-arrow, .grey-text { color: $secondary-text-colour; }

// Add 30px spacing at top when jumping to anchor links

:target:before {
content:"";
display:block;
height:30px;
margin:-30px 0 0;
}

// A bit of a hack to avoid needing to use a table layout for lists of data, allowing right-aligned numbers

.trending-figures {
  
  li {

    span { 
      display: inline-block;
      min-width: 65px; 
      text-align: right;
      margin-right: 5px;
      
    }

  }

}

// Tables for different things

.trend-table {

  th, td {
    border-bottom: none;  
  }

  .numeric {
    @include core-19($tabular-numbers: true);
    padding-right: 10px;
  }

}

.channel-table {
    margin-bottom: 60px;


  th, td {
    border-bottom: none;
    padding: 5px; 
    overflow: none; 
  }

  .numeric {
    @include core-19($tabular-numbers: true);
    padding-right: 5px;
    width: 50px
  }

}

.heading-channel {
  margin-bottom: 15px;
}


.metadata {
  @include core-16;

  dt, dl {
    float: left;
    clear: left;
    width: 8em;
  }

  dd {

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  dt {
    width: auto;
    min-width: 120px;
    padding-right: 10px;
  }

}

.org-table {

  th, td {
    border-bottom: none;  
  }

}

// Channel breakdown figures

.breakdown {

  h3 {
    margin-bottom: 10px;
  }

}

.channel {
  margin-bottom: 45px;

  .data {
    margin-bottom: -15px;
  }
}

// Proportional data visualisation bits and bobs

.data-container {
  width: 100%;
  padding: 15px;
}

.data-row {
  width: 100%;
  margin-bottom: 30px;
}

.data-block {
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 30px solid $govuk-blue;
  margin-right: -4px;
  text-align: center;
  @include core-16;
}

.data-block:nth-child(even) {
  border-bottom: 30px solid $light-blue;
}

#data-value-1 { width: 67%; }
#data-value-2 { width: 16%; }
#data-value-3 { width: 11%; }
#data-value-4 { width: 6%; }

.data-vert-container {
  height: 400px;
  margin-bottom: 30px;
}

.data-vert-block {
  display: block;
  padding-left: 15px;
  border-left: 30px solid $govuk-blue;
  margin-bottom: 1px;
}

.data-vert-block:nth-child(even) {
  border-left: 30px solid $light-blue;
}

#data-vert-value-1 { height: 67%; }
#data-vert-value-2 { height: 16%; }
#data-vert-value-3 { height: 11%; }
#data-vert-value-4 { height: 6%; }

// Stacking chart... Probs just a bigger bar chart tbh

.stack-chart {
  height: 400px;
}

.stack-chart div {
  width: 100%;
  background-color: $govuk-blue;
  color: $white;
  padding: 10px;
  margin-bottom: 1px;
  @include core-16;
  box-sizing: border-box;
}

.stack-chart div:nth-child(even) {
  background-color: $light-blue;
}

#stack-chart-value-1 { height: 67%; }
#stack-chart-value-2 { height: 16%; }
#stack-chart-value-3 { height: 11%; }
#stack-chart-value-4 { height: 6%; }

// // Bar chart

// .bar-chart {
//   width: 100%;
//   min-height: 1px;
//   position: relative;
//   margin-top: 15px;
// }

// .bar-chart li {
//   display: inline-block;
//   width: 23%;
//   height: 250px;
//   margin: 0 8px 0 0;
// }

// .bar {
//   background-color: $govuk-blue;
//   border-top: 1px solid $white;
//   box-sizing: border-box;
// }

// .bar-chart li span {
//   display: block;
//   text-align: center!important;
//   padding: 10px;
// }

// .phone {
//   background-color: $light-blue;
// }

// .paper {
//   background-color: $light-blue;
//   opacity: 0.5;
// }

// .bar-chart-key {
//   margin: 15px 0;

//   li {
//     display: inline-block;
//     margin-right: 15px;
//     list-style-type: square;
//   }

//   li:before {
//     content: '';
//     display: inline-block;
//     height: 16px;
//     width: 16px;
//     background-color: $light-blue;
//     vertical-align: middle;
//     margin-right: 5px;
//   }

//   li:first-of-type:before {
//     background-color: $govuk-blue;
//   }

//   li:last-of-type:before {
//     opacity: 0.5;
//   }

// }

// light grey bar chart background (taken from Notify dashboard 'spark-bar' pattern)

.spark-bar {

  @include core-16;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: $gutter-half;
  height: $gutter-half;
  color: $text-colour;

  span {
   box-sizing: border-box;
   display: inline-block;
   overflow: visible;
   background: $panel-colour;
   color: $black;
   padding: 5px 5px 2px 5px;
   margin: 3px 0 5px 0;
  }

}

