// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Proportional data visualisation bits and bobs

.data-container {
  width: 100%;
  padding: 15px;
}

.data-row {
  width: 100%;
  margin-bottom: 30px;
}

.data-block {
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 30px solid $govuk-blue;
  margin-right: -4px;
  text-align: center;
  @include core-16;
}

.data-block:nth-child(even) {
  border-bottom: 30px solid $light-blue;
}

#data-value-1 { width: 67%; }
#data-value-2 { width: 16%; }
#data-value-3 { width: 11%; }
#data-value-4 { width: 6%; }

.data-vert-container {
  height: 400px;
  margin-bottom: 30px;
}

.data-vert-block {
  display: block;
  padding-left: 15px;
  border-left: 30px solid $govuk-blue;
  margin-bottom: 1px;
}

.data-vert-block:nth-child(even) {
  border-left: 30px solid $light-blue;
}

#data-vert-value-1 { height: 67%; }
#data-vert-value-2 { height: 16%; }
#data-vert-value-3 { height: 11%; }
#data-vert-value-4 { height: 6%; }

// Stacking chart... Probs just a bigger bar chart tbh

.stack-chart {
  height: 400px;
}

.stack-chart div {
  width: 100%;
  background-color: $govuk-blue;
  color: $white;
  padding: 10px;
  margin-bottom: 1px;
  @include core-16;
  box-sizing: border-box;
}

.stack-chart div:nth-child(even) {
  background-color: $light-blue;
}

#stack-chart-value-1 { height: 67%; }
#stack-chart-value-2 { height: 16%; }
#stack-chart-value-3 { height: 11%; }
#stack-chart-value-4 { height: 6%; }

// Bar chart

.bar-chart {
  width: 100%;
  min-height: 1px;
  position: relative;
}

.bar-chart li {
  display: inline-block;
  width: 15.75%;
  height: 120px;
  margin: 0;
}

.bar {
  background-color: $govuk-blue;
  border: 1px solid $white;
  box-sizing: border-box;
}

.bar-label {
  display: block;
  @include core-16;
  text-align: center!important;
  padding: 5px;
}

.bar-chart li span {
  display: block;
  @include core-16;
  text-align: center!important;
  padding: 5px;
}

#bar-chart-value-1 { height: 75%; }
#bar-chart-value-2 { height: 80%; }
#bar-chart-value-3 { height: 90%; }
#bar-chart-value-4 { height: 95%; }
#bar-chart-value-5 { height: 80%; }
#bar-chart-value-6 { height: 100%; }

