// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


// Header banner (feel like this class should already exist somewhere else)

.header-banner {
  color: $white;
  background-color: $govuk-blue;
  width: 100%;
  margin-top: -10px;

  div {
    max-width: 990px;
    margin: 0 auto;
  }

  a {
    color: $white;
  }

}

// Time period selector

.time-period-selector {
  padding: 15px 0;
  margin: 0 15px 30px;


  li {
    display: inline;
    padding: 0 5px 0;
  }

  li:first-of-type {
    padding-left: 0;
  }

}

.border-bottom {
  border-bottom: 1px solid $border-colour;
}

.border-top {
  margin-top: 15px;
  border-top: 1px solid $border-colour;
}

#time-period-selected {
  font-weight: bold;
}

// Filters

.filter-panel {
  padding: 0 30px 30px 15px;
}

.filter-tags {
  @include core-16; 
  display: block;
  margin-bottom: 15px;

  li {
    display: inline-block;
    margin: 0 5px 5px 0;
    background-color: $panel-colour;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
  }

  li:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/close-icon.png");
    background-size: 20px;
    background-repeat: none;
    vertical-align: middle;
    margin-left: 10px;
    }

    li:hover {
      cursor: pointer;
    }

}

// Listing

.transaction-listing {
  border: 1px solid $border-colour;
  padding: 0 15px;
  margin-bottom: 15px;

  h3 {
    margin-top: 15px;
  }

}

.text-supporting {
  @include core-16;
  margin: -15px 0 0;
  color: $secondary-text-colour;
}

// Change to filter form controls to make them 100%

.form-control-1 {
  width: 100%;
}

// Data summary numbers at top of pages

.data-summary {
  margin-top: -30px;
  margin-bottom: 45px;
}

.data-box {
  color: $white;
  background-color: $govuk-blue;
  padding: 30px 30px 15px;
  border: 5px solid $white;
}


// Colours for arrows

.data-increase-arrow { color: $button-colour; }
.data-decrease-arrow { color: $mellow-red; }

// Add 30px spacing at top of anchor links

:target:before {
content:"";
display:block;
height:30px;
margin:-30px 0 0;
}

// A bit of a hack to avoid needing to use a table layout for lists of data, allowing right-aligned numbers

.trending-figures {
  
  li {

    span { 
      display: inline-block;
      min-width: 70px; 
      text-align: right;
      margin-right: 5px;
    }

  }

}

// Proportional data visualisation bits and bobs

.data-container {
  width: 100%;
  padding: 15px;
}

.data-row {
  width: 100%;
  margin-bottom: 30px;
}

.data-block {
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 30px solid $govuk-blue;
  margin-right: -4px;
  text-align: center;
  @include core-16;
}

.data-block:nth-child(even) {
  border-bottom: 30px solid $light-blue;
}

#data-value-1 { width: 67%; }
#data-value-2 { width: 16%; }
#data-value-3 { width: 11%; }
#data-value-4 { width: 6%; }

.data-vert-container {
  height: 400px;
  margin-bottom: 30px;
}

.data-vert-block {
  display: block;
  padding-left: 15px;
  border-left: 30px solid $govuk-blue;
  margin-bottom: 1px;
}

.data-vert-block:nth-child(even) {
  border-left: 30px solid $light-blue;
}

#data-vert-value-1 { height: 67%; }
#data-vert-value-2 { height: 16%; }
#data-vert-value-3 { height: 11%; }
#data-vert-value-4 { height: 6%; }

// Stacking chart... Probs just a bigger bar chart tbh

.stack-chart {
  height: 400px;
}

.stack-chart div {
  width: 100%;
  background-color: $govuk-blue;
  color: $white;
  padding: 10px;
  margin-bottom: 1px;
  @include core-16;
  box-sizing: border-box;
}

.stack-chart div:nth-child(even) {
  background-color: $light-blue;
}

#stack-chart-value-1 { height: 67%; }
#stack-chart-value-2 { height: 16%; }
#stack-chart-value-3 { height: 11%; }
#stack-chart-value-4 { height: 6%; }

// Bar chart

.bar-chart {
  width: 100%;
  min-height: 1px;
  position: relative;
  margin-top: 15px;
}

.bar-chart li {
  display: inline-block;
  width: 15.75%;
  height: 200px;
  margin: 0;
}

.bar {
  background-color: $govuk-blue;
  border-top: 1px solid $white;
  box-sizing: border-box;
}

.bar-label {
  display: block;
  @include core-16;
  text-align: center!important;
  padding: 5px;
}

.bar-chart li span {
  display: block;
  @include core-16;
  text-align: center!important;
  padding: 5px;
}

.phone {
  background-color: $light-blue;
}

.paper {
  background-color: $light-blue;
  opacity: 0.5;
}

.bar-chart-key {
  margin: 15px 0;

  li {
    display: inline-block;
    margin-right: 15px;
    list-style-type: square;
  }

  li:before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: $light-blue;
    vertical-align: middle;
    margin-right: 5px;
  }

  li:first-of-type:before {
    background-color: $govuk-blue;
  }

  li:last-of-type:before {
    opacity: 0.5;
  }

}

#bar-chart-value-1 { height: 70%; }
#bar-chart-value-1-1 { height: 15%; }
#bar-chart-value-1-2 { height: 10%; }

#bar-chart-value-2 { height: 80%; }
#bar-chart-value-2-1 { height: 10%; }
#bar-chart-value-2-2 { height: 10%; }

#bar-chart-value-3 { height: 90%; }

#bar-chart-value-4 { height: 95%; }
#bar-chart-value-4-1 { height: 10%; }
#bar-chart-value-4-2 { height: 7%; }

#bar-chart-value-5 { height: 80%; }
#bar-chart-value-5-1 { height: 8%; }
#bar-chart-value-5-2 { height: 5%; }

#bar-chart-value-6 { height: 100%; }
#bar-chart-value-6-1 { height: 10%; }
#bar-chart-value-6-2 { height: 8%; }


