{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	Home Office
      </h1>
    </div>
    <div class="column-third">
      <br><br>
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="time-period-selector">
        <ul>
          <li>View data for past</li>
          <li><a href="#">3 months</a></li> |
          <li id="time-period-selected">1 year</li> |
          <li><a href="#">2 years</a></li>
        </ul>  
      </div> 
    </div> 
    <div class="column-one-third"> 
      <p style="opacity:0">.</p> 
    </div>
  </div>

  <!-- summary -->

  <div class="grid-row data-summary">
    <div class="column-full">
      <div class="column-one-quarter data-box">
        <div class="data">
          <h2 class="bold-xlarge">£10.7bn</h2>
          <p class="bold-xsmall">annual departmental budget in 2015</p>
        </div>
      </div>
      <div class="column-one-quarter data-box">
        <div class="data">
          <h2 class="bold-xlarge">42</h2>
          <p class="bold-xsmall">services
          <br><a href="#service-list">See all</a></p>
        </div>
      </div>
      <div class="column-one-quarter data-box">
        <div class="data">
          <h2 class="bold-xlarge">4.1m</h2>
          <p class="bold-xsmall">transactions
          <br><a href="#transactions">More info</a></p>
        </div>
      </div> 
      <div class="column-one-quarter data-box">
        <div class="data">
          <h2 class="bold-xlarge">64%</h2>
          <p class="bold-xsmall">transactions online
          <br><a href="#channel-breakdown">More info</a></p>
        </div>
      </div> 
    </div>    
  </div>

  <!-- transactions info -->

  <div class="grid-row" id="transactions">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">4.1m</h2>
        <p class="bold-medium">transactions</p>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with the most transactions</h4>
      <ul class="list trending-figures">
        <li><span>698k</span> <a href="../transactions/register-a-birth">Register a birth</a></li>
        <li><span>321k</span> <a href="#">Orders for a copy of a birth, death or marriage certificate</a></li>
        <li><span>287k</span> <a href="#">Police complaints submitted</a></li>
        <li><span>188k</span> <a href="#">Visa applications</a></li>
        <li><span>181k</span> <a href="#">Adult First checks</a></li>
      </ul> 
      <br>

      <h4 class="heading-small">Services with the least transactions</h4>
      <ul class="list trending-figures">
        <li><span>1,276</span> <a href="#">Foreign divorces and foreign civil partnership dissolutions</a></li>
        <li><span>2,998</span> <a href="#">Applications for a visit visa from China</a></li>
        <li><span>3,081</span> <a href="#">Immigration health surcharge</a></li>
        <li><span>3,444</span> <a href="#">Registered traveller service</a></li>
        <li><span>4,002</span> <a href="#">Apply for a gender recognition certificate</a></li>
      </ul>
    </div> 

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div>

  <hr>

  <!-- channel breakdown - need to change service data to be a table layout so numbers can align correctly -->

  <div class="grid-row" id="channel-breakdown">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">64%</h2>
        <p class="bold-medium">transactions online</p>
      </div>  
      <!-- <p class="lede"><span class="data-increase-arrow">&#9650;</span> +1.2% increase</p> -->
      <div class="data breakdown">
         <h3 class="bold-large">28% <span class="lede">paper</span></h3>
        <h3 class="bold-large">4% <span class="lede">phone</span></h3>
        <h3 class="bold-large">3% <span class="lede">face-to-face</span></h3>
        <h3 class="bold-large">1% <span class="lede">other</span></h3>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with the highest percentage of online transactions</h4>
      <ul class="list trending-figures">
        <li><span>78%</span> <a href="#">Orders for a copy of a birth, death or marriage certificate</a></li>
        <li><span>73%</span> <a href="#">Visa applications</a></li>
        <li><span>69%</span> <a href="#">Late death registrations</a></li>
        <li><span>69%</span> <a href="#">Life in the UK Test</a></li>
        <li><span>57%</span> <a href="#">Visa applications</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of offline transactions</h4>
      <ul class="list trending-figures">
        <li><span>100%</span> <a href="../transactions/register-a-birth">Register a birth</a></li>
        <li><span>100%</span> <a href="#">Police complaints submitted</a></li>
        <li><span>100%</span> <a href="#">Apply for a gender recognition certificate</a></li>
        <li><span>100%</span> <a href="#">Adult First checks</a></li>
        <li><span>95%</span> <a href="#">Immigration health surcharge</a></li>
      </ul>
    </div> 

  </div>  

  <br>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <!-- full list of services -->

  <div class="grid-row" id="service-list">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">42</h2>
        <p class="bold-medium">services</p>
      </div>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small">Home Office</h4>
      <ul class="list">
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>  
      </ul>
      <h4 class="heading-small">Disclosure and barring service</h4>
      <ul class="list">
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
      </ul> 
      <h4 class="heading-small">Independent Police Complaints Commission</h4>
      <ul class="list"> 
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
      </ul>
      <h4 class="heading-small">National Counter Terrorism Security Office</h4>
      <ul class="list">   
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
      </ul>
      <h4 class="heading-small">Office of the Immigration Services Commissionery</h4>
      <ul class="list">  
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
      </ul> 
      <h4 class="heading-small">Security Industry Authority</h4>
      <ul class="list">   
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
      </ul> 
    </div>  

  </div>

</main>

{% endblock %}


