{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	Department for Education
      </h1>
    </div>
    <div class="column-third">
      <br><br>
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="time-period-selector">
        <ul>
          <li>View data for past</li>
          <li><a href="#">3 months</a></li> |
          <li id="time-period-selected">1 year</li> |
          <li><a href="#">2 years</a></li>
        </ul>  
      </div> 
    </div> 
  </div>

  <!-- summary -->

  <div class="grid-row data-summary">
    <div class="column-full">
      <div class="column-one-quarter data-box">
        <div class="data">
          <h2 class="bold-xlarge">£58.2bn</h2>
          <p class="bold-xsmall">annual departmental budget in 2015</p>
        </div>
      </div>
      <div class="column-one-quarter data-box">
        <div class="data">
          <h2 class="bold-xlarge">11</h2>
          <p class="bold-xsmall">services
          <br><a href="#service-list">See all</a></p>
        </div>
      </div>
      <div class="column-one-quarter data-box">
        <div class="data">
          <h2 class="bold-xlarge">135k</h2>
          <p class="bold-xsmall">transactions
          <br><a href="#transactions">More info</a></p>
        </div>
      </div> 
      <div class="column-one-quarter data-box">
        <div class="data">
          <h2 class="bold-xlarge">36%</h2>
          <p class="bold-xsmall">transactions online
          <br><a href="#channel-breakdown">More info</a></p>
        </div>
      </div> 
    </div>    
  </div>

  <!-- transactions info -->

  <div class="grid-row" id="transactions">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">135k</h2>
        <p class="bold-medium">transactions</p>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with the most transactions</h4>
      <ul class="list trending-figures">
        <li><span>102k</span> <a href="#">Initial teacher training registrations</a></li>
        <li><span>17.7k</span> <a href="#">Registrations for train to teach events</a></li>
        <li><span>7.6k</span> <a href="#">DFE employer portal: registrations</a></li>
        <li><span>3.4k</span> <a href="#">Qualifications submitted to the register of regulated qualifications</a></li>
        <li><span>1.6k</span> <a href="#">Registrations for online events about teaching and leadership</a></li>
      </ul> 
      <br>

      <h4 class="heading-small">Services with the least transactions</h4>
      <ul class="list trending-figures">
        <li><span>&mdash;</span> <a href="#">Childminder registrations</a></li>
        <li><span>&mdash;</span> <a href="#">Home childcarer registrations</a></li>
        <li><span>&mdash;</span> <a href="#">Provider of childcare on on-domestic premises</a></li>
        <li><span>&mdash;</span> <a href="#">Applications to access for diabled people fund</a></li>
        <li><span>5</span> <a href="#">Applications to become qualifications awarding organisation</a></li>
      </ul>
    </div> 

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div>

  <hr>

  <!-- channel breakdown - need to change service data to be a table layout so numbers can align correctly -->

  <div class="grid-row" id="channel-breakdown">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">38%</h2>
        <p class="bold-medium">transactions by paper</p>
      </div>  
      <!-- <p class="lede"><span class="data-increase-arrow">&#9650;</span> +1.2% increase</p> -->
      <div class="data breakdown">
        <h3 class="bold-large">36% <span class="lede">online</span></h3>
        <h3 class="bold-large">22% <span class="lede">face-to-face</span></h3>
        <h3 class="bold-large">9% <span class="lede">phone</span></h3>
        <h3 class="bold-large">6% <span class="lede">other</span></h3>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with the highest percentage of online transactions</h4>
      <ul class="list trending-figures">
        <li><span>90%</span> <a href="#">DFE employer portal: registrations</a></li>
        <li><span>66%</span> <a href="#">Initial teacher training registrations</a></li>
        <li><span>64%</span> <a href="#">Registrations for train to teach events</a></li>
        <li><span>55%</span> <a href="#">Qualifications submitted to the register of regulated qualifications</a></li>
        <li><span>53%</span> <a href="#">Registrations for online events about teaching and leadership</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of offline transactions</h4>
      <ul class="list trending-figures">
        <li><span>100%</span> <a href="#">Childminder registrations</a></li>
        <li><span>100%</span> <a href="#">Home childcarer registrations</a></li>
        <li><span>96%</span> <a href="#">Provider of childcare on on-domestic premises</a></li>
        <li><span>84%</span> <a href="#">Applications to access for disabled people fund</a></li>
        <li><span>80%</span> <a href="#">Applications to become qualifications awarding organisation</a></li>
      </ul>
    </div> 

  </div>  

  <br>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  

  <!-- full list of services -->

  <div class="grid-row" id="service-list">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">11</h2>
        <p class="bold-medium">services</p>
      </div>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small">Department for Education</h4>
      <ul class="list">  
        <li><a href="#">Applications to access for disabled people fund</a></li>
        <li><a href="#">Applications to become qualifications awarding organisation</a></li> 
      </ul>
      <h4 class="heading-small">Ofqual</h4>
      <ul class="list">  
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
      </ul>
      <h4 class="heading-small">Ofsted</h4>
      <ul class="list">    
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
      </ul> 
      <h4 class="heading-small">Skills funding agency</h4>
      <ul class="list"> 
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
      </ul> 
      <h4 class="heading-small">Standards and testing agency</h4>
      <ul class="list"> 
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
        <li><a href="#">Name of service</a></li>
      </ul>
    </div>  

  </div>

</main>

{% endblock %}


