{% extends "layout-2.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	Boating
      </h1>
    </div>
    <div class="column-third">
      <br><br>
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="time-period-selector">
        <ul>
          <li>View data for past</li>
          <li><a href="#">3 months</a></li> |
          <li id="time-period-selected">1 year</li> |
          <li><a href="#">2 years</a></li>
        </ul>  
      </div> 
    </div> 
  </div>

  <!-- summary -->

  <div class="grid-row data-summary">
    <div class="column-full">
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">31</h2>
          <p class="bold-xsmall">services
          <br><a href="#service-list">See all</a></p>
        </div>
      </div>
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">24.6k</h2>
          <p class="bold-xsmall">transactions
          <br><a href="#transactions">More info</a></p>
        </div>
      </div> 
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">9%</h2>
          <p class="bold-xsmall">transactions online
          <br><a href="#channel-breakdown">More info</a></p>
        </div>
      </div> 
    </div>    
  </div>

  <!-- transactions info -->

  <div class="grid-row" id="transactions">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">24.6k</h2>
        <p class="bold-medium">transactions</p>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with the most transactions</h4>
      <ul class="list trending-figures">
        <li><span>7,510</span> <a href="#">Tax your vehicle</a></li>
        <li><span>6,326</span> <a href="#">Registrations to use or store boats</a></li>
        <li><span>5,776</span> <a href="#">Small passenger boat licence schedule</a></li>
        <li><span>5,015</span> <a href="#">Find an examiner and book an exam</a></li>
        <li><span>3,576</span> <a href="#">Gold Licence, for using boats on more than one waterway</a></li>
      </ul> 
      <br>

      <h4 class="heading-small">Services with the least transactions</h4>
      <ul class="list trending-figures">
        <li><span>5</span> <a href="#">The Royal Military Canal: boat and canoeing licences</a></li>
        <li><span>98</span> <a href="#">Scottish Canals: Long Term Licences &amp; Moorings</a></li>
        <li><span>108</span> <a href="#">Report an emergency on the river</a></li>
        <li><span>167</span> <a href="#">The Broads Authority licencing</a></li>
        <li><span>168</span> <a href="#">The Basingstoke Canal Authority licences</a></li>
    </div> 

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p></p>
        </div>
      </details>
    </div>
  </div>

  <hr>

  <!-- channel breakdown - need to change service data to be a table layout so numbers can align correctly -->

  <div class="grid-row" id="channel-breakdown">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">60%</h2>
        <p class="bold-medium">transactions by paper</p>
      </div>  
      <!-- <p class="lede"><span class="data-increase-arrow">&#9650;</span> +1.2% increase</p> -->
      <div class="data breakdown">
        <h3 class="bold-large">21% <span class="lede">phone</span></h3>
        <h3 class="bold-large">10% <span class="lede">paper</span></h3>
        <h3 class="bold-large">9% <span class="lede">online</span></h3>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with the highest percentage of online transactions</h4>
      <ul class="list trending-figures">
        <li><span>40%</span> <a href="#">Report an emergency on the river</a></li>
        <li><span>37%</span> <a href="#">Report an environmental incident</a></li>
        <li><span>28%</span> <a href="#">Find an examiner and book an exam</a></li>
        <li><span>19%</span> <a href="#">Report non-emergency incidents on the non-tidal Thames</a></li>
        <li><span>19%</span> <a href="#">Hire boat licence schedule</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of offline transactions</h4>
      <ul class="list trending-figures">
        <li><span>100%</span> <a href="#">Anglian waterways: boat registration and application forms</a></li>
        <li><span>100%</span> <a href="#">The Basingstoke Canal Authority licences</a></li>
        <li><span>100%</span> <a href="#">The Broads Authority licencing</a></li>
        <li><span>100%</span> <a href="#">Grand Western canal: licencing</a></li>
        <li><span>100%</span> <a href="#">River Medway: boat registration and application forms</a></li>
      </ul>
    </div> 

  </div>  

  <br>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p></p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <!-- full list of services -->

  <div class="grid-row" id="service-list">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">31</h2>
        <p class="bold-medium">services</p>
      </div>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small">Owning a boat</h4>
      <ul class="list">  
        <li><a href="#">Find an examiner and book an exam</a></li>
        <li><a href="#">Gold Licence, for using boats on more than one waterway</a></li>
        <li><a href="#">Anglian waterways: boat registration and application forms</a></li>
        <li><a href="#">The Basingstoke Canal Authority licences</a></li>
        <li><a href="#">The Broads Authority licencing</a></li>
        <li><a href="#">Canal and River Trust (licencing for use of over 2,000 waterways in England and Wales)</a></li>
        <li><a href="#">Grand Western canal: licencing</a></li>
        <li><a href="#">River Medway: boat registration and application forms</a></li>
        <li><a href="#">River Medway: registration charges</a></li>
        <li><a href="#">The Royal Military Canal: boat and canoeing licences</a></li>
        <li><a href="#">Rye Harbour: boat registration and application forms</a></li>
        <li><a href="#">Rye Harbour: charges</a></li>
        <li><a href="#">Rye Harbour: charges for visiting boats</a></li>
        <li><a href="#">Scottish Canals: Long Term Licences &amp; Moorings</a></li>
        <li><a href="#">River Thames: boat registration and application forms</a></li>
        <li><a href="#">River Thames: boat registration charges</a></li>
        <li><a href="#">Waterways Ireland: Boat Registration and Permits</a></li>
        <li><a href="#">Windemere boat registration, Lake District National Park Authority</a></li>
      </ul>
      <h4 class="heading-small">Selling a boat</h4>
      <ul class="list">  
        <li><a href="#">Environment Agency waterways: change of ownership or address form</a></li>
      </ul>
      <h4 class="heading-small">Use inland waterways in the UK</h4>
      <ul class="list">  
        <li><a href="#">Get an inland waterway reclassified</a></li>
        <li><a href="#">Report non-emergency river-related incidents on the non-tidal Thames</a></li>
        <li><a href="#">Report an emergency on the river</a></li>
        <li><a href="#">Report an environmental incident</a></li>
      </ul>
      <h4 class="heading-small">Run a boating business</h4>
      <ul class="list">  
        <li><a href="#">Apply for a boatmasters' licence (MSF 4364)</a></li>
        <li><a href="#">Replace a Boatmasters' Licence (MSF 4390)</a></li>
        <li><a href="#">Revalidate a Boatmasters' licence (MSF 4365)</a></li>
        <li><a href="#">Upgrade a Boatmasters' licence (MSF 4370)</a></li>
        <li><a href="#">Apply for a passenger-carrying certificate if you’re carrying more than 12 passengers</a></li>
        <li><a href="#">Application for Hire Boat Operator and Vessel Licences</a></li>
        <li><a href="#">Re-application for Hire Boat Operator and Vessel Licences</a></li>
        <li><a href="#">Hire boat licence schedule</a></li>
        <li><a href="#">Re-Application for Small Passenger Boat Operator and Vessel Licences</a></li>
        <li><a href="#">Small passenger boat licence schedule</a></li>
        <li><a href="#">Application process to set up a new boating business</a></li>
      </ul> 
      <h4 class="heading-small">Work on boats</h4>
      <ul class="list">  
        <li><a href="#">Apply for training course</a></li>
      </ul>   
    </div>  

  </div>

</main>

{% endblock %}


