{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block page_banner %}
    {% include "../includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="2-1-orgs">Back</a>

      <h1 class="heading-large">
        Which themes are you interested in?
      </h1>

      <p>
        Themes are broad categories used to group the kinds of services government delivers, such as 'immigration' or 'childcare and parenting'.
      </p>

      <p>
        Add as many themes as you like.
      </p>

      <form class="form">

        <fieldset class="form-group">

          <div class="form-group">
            <div class="test-case" style="overflow: visible">
              <div>
                <select id="organisation" class="tags typeahead js-hidden form-control-2-3" name="organisation" aria-required="true">
                  <option value=""></option>
                  <option value="Childcare and parenting">Childcare and parenting</option>
                  <option value="Driving">Driving</option>
                </select>
              </div>
            </div>
          </div>

          <ul class="filter-tags">
            <!-- tags generated in jquery when a filter is selected -->
          </ul>

        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        

      </form>

    </div>
  </div>
</main>

{% endblock %}

{% block body_end %}
{{ super() }}
  <script src="/public/javascripts/patterns/autocomplete/03/typeahead-aria.js"></script>
  <script src="/public/javascripts/patterns/autocomplete/03/init-autocomplete.js"></script>
  <script src="/public/javascripts/custom-view-tags.js"></script>
{% endblock %}
