{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- <div class="phase-banner-alpha">
	  <p>
	    <strong class="phase-tag">DISCO ALPHA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div> -->	

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Some ideas for</span>
        Proportional data
      </h1>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <p>View data for past <a href="#">3 months</a> | 6 months | <a href="#">1 year</a> | <a href="#">2 years</a></p>
    </div>  
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-medium">Channel breakdown example</h3>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Something</p>
    </div>
  </div>

  <hr>

  <div class="grid-row">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">24</h2>
        <p class="bold-small">services using GOV.UK Notify</p>
        <details>
          <summary><span class="summary">View list of services</span></summary>
          <div class="panel panel-border-narrow">
            <ul class="list">
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
            </ul>
          </div>
        </details>
      </div>
    </div>

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">32</h2>
        <p class="bold-small">services using GOV.UK Verify</p>
        <details>
          <summary><span class="summary">View list of services</span></summary>
          <div class="panel panel-border-narrow">
            <ul class="list">
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
            </ul>
          </div>
        </details>
      </div>
    </div>

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">20</h2>
        <p class="bold-small">services using GOV.UK Pay</p>
        <details>
          <summary><span class="summary">View list of services</span></summary>
          <div class="panel panel-border-narrow">
            <ul class="list">
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
              <li><a href="#">Name of service</a></li>
            </ul>
          </div>
        </details>
      </div>
    </div>
  
  </div>  

  <hr>

  <!--alternative layout with ttitle at left-->

  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="bold-large">Government as a Platform things</h2>
    </div>

    <div class="column-two-thirds">

      <div class="column-half">
        <div class="data">
          <h2 class="bold-xlarge">32</h2>
          <p class="bold-small">services using GOV.UK Verify</p>
          <details>
            <summary><span class="summary">View list of services</span></summary>
            <div class="panel panel-border-narrow">
              <ul class="list">
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
              </ul>
            </div>
          </details>
        </div>
      </div>  

      <div class="column-half">
        <div class="data">
          <h2 class="bold-xlarge">32</h2>
          <p class="bold-small">services using GOV.UK Verify</p>
          <details>
            <summary><span class="summary">View list of services</span></summary>
            <div class="panel panel-border-narrow">
              <ul class="list">
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
                <li><a href="#">Name of service</a></li>
              </ul>
            </div>
          </details>
        </div>
      </div>  

    </div>


    
  
  </div>  

  <hr>

</main>

{% endblock %}


