{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- <div class="phase-banner-alpha">
	  <p>
	    <strong class="phase-tag">DISCO ALPHA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div> -->	

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Some ideas for</span>
        Things
      </h1>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-half">
      <h3 class="heading-medium">Name of data</h3>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">24%</h2>
        <p class="bold-xsmall">Some stat</p>
      </div>
    </div>  
  
  </div>  





</main>

{% endblock %}


