{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- <div class="phase-banner-alpha">
	  <p>
	    <strong class="phase-tag">DISCO ALPHA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div> -->

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Some ideas for</span>
        Numbers and lists
      </h1>

    </div>
  </div>

  <hr>

  <div class="grid-row">

    <div class="column-one-third">
      <h2 class="bold-large">Government as a Platform usage</h2>
      <br>
      <p>From a total 200 services</p>
    </div>

    <div class="column-two-thirds">

      <div class="column-half">
        <div class="data">
          <h2 class="bold-xlarge">12</h2>
          <p class="bold-small">services use GOV.UK Notify</p>
          <ul class="list">
            <li><a href="#">Apply for a thing</a></li>
            <li><a href="#">Apply for a thing</a></li>  
            <li><a href="#">Apply for a thing</a></li>   
            <!-- <li class="bold-xsmall"><a href="#">View all</a></li> -->  
            <details>
              <summary><span class="summary bold-xsmall">View all</span></summary>
              <div>
                <li><a href="#">Apply for a thing</a></li>
                <li><a href="#">Apply for a thing</a></li>  
                <li><a href="#">Apply for a thing</a></li>
                <li><a href="#">Apply for a thing</a></li>
                <li><a href="#">Apply for a thing</a></li>  
                <li><a href="#">Apply for a thing</a></li>
                <li><a href="#">Apply for a thing</a></li>
                <li><a href="#">Apply for a thing</a></li>  
                <li><a href="#">Apply for a thing</a></li>
              </div>
            </details>   
          </ul>
        </div>
        <br>
      </div>  

      <div class="column-half">
        <div class="data">
          <h2 class="bold-xlarge">6</h2>
          <p class="bold-small">services use GOV.UK Pay</p>
          <ul class="list">
            <li><a href="#">Apply for a thing</a></li>
            <li><a href="#">Apply for a thing</a></li>  
            <li><a href="#">Apply for a thing</a></li>   
            <!-- <li class="bold-xsmall"><a href="#">View all</a></li> -->  
            <details>
              <summary><span class="summary bold-xsmall">View all</span></summary>
              <div>
                <li><a href="#">Apply for a thing</a></li>
                <li><a href="#">Apply for a thing</a></li>  
                <li><a href="#">Apply for a thing</a></li>
              </div>
            </details>   
          </ul>
        </div>
        <br>
      </div>  

      <div class="column-half">
        <div class="data">
          <h2 class="bold-xlarge">8</h2>
          <p class="bold-small">services use GOV.UK Verify</p>
          <ul class="list">
            <li><a href="#">Apply for a thing</a></li>
            <li><a href="#">Apply for a thing</a></li>  
            <li><a href="#">Apply for a thing</a></li>   
            <!-- <li class="bold-xsmall"><a href="#">View all</a></li> -->  
            <details>
              <summary><span class="summary bold-xsmall">View all</span></summary>
              <div>
                <li><a href="#">Apply for a thing</a></li>
                <li><a href="#">Apply for a thing</a></li>  
                <li><a href="#">Apply for a thing</a></li>
                <li><a href="#">Apply for a thing</a></li>  
                <li><a href="#">Apply for a thing</a></li>
              </div>
            </details>   
          </ul>
        </div>
        <br>
      </div>  

      <!-- <div class="column-half">
        <div class="data">
          <h2 class="bold-xlarge">18</h2>
          <p class="bold-small">services using GOV.UK Notify</p>
          <ul class="list">
            <li><a href="#">Apply for a thing</a></li>
            <li><a href="#">Apply for a thing</a></li>  
            <li><a href="#">Apply for a thing</a></li>   
            <li class="bold-xsmall"><a href="#">View all</a></li>     
          </ul>
        </div>
        <br>
      </div>  --> 

    </div>
  
  </div>  

  <hr>

</main>

{% endblock %}


