{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- <div class="phase-banner-alpha">
	  <p>
	    <strong class="phase-tag">DISCO ALPHA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div> -->	

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Some ideas for</span>
        Proportional data
      </h1>

    </div>
  </div>

  <!-- <div class="grid-row">
    <div class="column-two-thirds">
      <p>View data for past <a href="#">3 months</a> | 6 months | <a href="#">1 year</a> | <a href="#">2 years</a></p>
    </div>  
  </div> -->

  <hr>

  

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="bold-large">Channel breakdown</h2>
      <br>
    </div> 
  </div>  

  <div class="grid-row">
    <div class="column-one-third">
      <div class="data-vert-container">
          <span class="data-vert-block" id="data-vert-value-1">&mdash; 67% online</span>
          <span class="data-vert-block" id="data-vert-value-2">&mdash; 16% phone</span>
          <span class="data-vert-block" id="data-vert-value-3">&mdash; 11% face-to-face</span>
          <span class="data-vert-block" id="data-vert-value-4">&mdash; 6% other</span>
      </div> 
    </div> 
    <div class="column-two-thirds">
      <div class="column-half">
        <h2 class="bold-xlarge">25,678</h2>
        <p class="bold-small">online transactions</p> 
        <br>
      </div> 
      <div class="column-half">
        <h2 class="bold-xlarge">1,834</h2>
        <p class="bold-small">phone transactions</p>
        <br>
      </div> 
      <div class="column-half">
        <h2 class="bold-xlarge">872</h2>
        <p class="bold-small">face-to-face transactions</p> 
        <br>
      </div> 
      <div class="column-half">
        <h2 class="bold-xlarge">452</h2>
        <p class="bold-small">other transactions</p>
        <br>
      </div> 

  </div> 

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online users is collected via Google Analytics. Other channels are collected by etc. etc.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="bold-large">Channel breakdown</h2>
    </div> 
  </div>  

  <div class="grid-row">
    <div class="data-container">
      <div class="data-row">
        <span class="data-block" id="data-value-1">67% online</span>
        <span class="data-block" id="data-value-2">16% phone</span>
        <span class="data-block" id="data-value-3">11% face to face</span>
        <span class="data-block" id="data-value-4">6% other</span>
      </div> 
    </div> 
  </div> 

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online users is collected via Google Analytics. Other channels are collected by etc. etc.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

</main>

{% endblock %}


