{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- <div class="phase-banner-alpha">
	  <p>
	    <strong class="phase-tag">DISCO ALPHA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div> -->

	<div class="breadcrumbs">
		<ol>
			<!-- <li><a href="#">Performance Platform</a></li> -->
			<li><a href="#">Department of Transport</a></li>
			<li><a href="#">Driver and Vehicle Licensing Agency</a></li>
			<li>Apply for provisional driving license</li>
		</ol>
	</div>		

  <div class="grid-row">
    <div class="column-two-thirds">

			<!-- <p class="lede">View performance data for</p>  -->   
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	Apply for a provisional driving license
      </h1>

      <p>This transaction allows users to apply for a provisional driving license so that they can begin to learn to drive.<!--  <a href="#">View start page on GOV.UK</a>. --></p>

    </div>

    <div class="column-one-third">
    <br>
      <h4 class="heading-small">Services this depends on</h4>
      <p class="font-xsmall">
        <a href="#">Check license</a>, <a href="#">Prove identity</a>, <a href="#">Service name</a>
      </p>

    </div>

  </div>

  <hr>

  <div class="grid-row">
  	<div class="column-one-third">
  		<p>
  			<span class="font-xsmall">Data submitted by</span><br>
  			Driver and Vehicle Licensing Agency
  		</p>
  	</div>	

  	<div class="column-one-third">
  		<p>
  			<span class="font-xsmall">Last updated on</span><br>
  			22 June 2016
  		</p>
  	</div>	

  	<div class="column-one-third">
  		<p>
  			<span class="font-xsmall">For more information</span><br>
  			<a href="#">View start page on GOV.UK</a>
  		</p>
  	</div>
  </div>


</main>

{% endblock %}


