{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">User effort</h2>
      <p>Reasons services are creating extra effort for their users. <a href="glossary">Read more about what this means</a>.</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-medium"><span style="font-weight:300">Of a sample of </span>32,073 calls <span style="font-weight:300">and</span> 200 emails</h3>
      <br>
    </div>  
  </div>

  <div class="grid-row">
    <div class="column-one-quarter">
      <div class="data">
        <h2 class="bold-xlarge">65%</h2>
        <p class="bold-xsmall">I need to check the status of something</p>
        <p class="font-xsmall text-supporting"><span class="data-neutral-arrow">&#9650;</span>+10% since Jun 2015</p>
      </div>
    </div> 
    <div class="column-one-quarter"> 
      <div class="data">
        <h2 class="bold-xlarge">19%</h2>
        <p class="bold-xsmall">I need more information on what to do</p>
        <p class="font-xsmall text-supporting"><span class="data-neutral-arrow">&#9660;</span>–1% since Jun 2015</p>
      </div>
    </div> 
    <div class="column-one-quarter"> 
      <div class="data">
        <h2 class="bold-xlarge">8%</h2>
        <p class="bold-xsmall">I think you've made an error</p>
        <p class="font-xsmall text-supporting"><span class="data-neutral-arrow">&#9660;</span>–1% since Jun 2015</p>
      </div>
    </div>  
    <div class="column-one-quarter">
      <div class="data">
        <h2 class="bold-xlarge">4%</h2>
        <p class="bold-xsmall">My situation has changed</p>
        <p class="font-xsmall text-supporting"><span class="data-neutral-arrow">&#9660;</span>–3% since Jun 2015</p>
      </div>
    </div>
  </div>
  <div class="grid-row">  
    <div class="column-one-quarter">
      <div class="data">
        <h2 class="bold-xlarge">3%</h2>
        <p class="bold-xsmall">I have difficulty using a computer</p>
        <p class="font-xsmall text-supporting"><span class="data-neutral-arrow">&#9660;</span>–8% since Jun 2015</p>
      </div>
    </div>
    <div class="column-one-quarter">
      <div class="data">
        <h2 class="bold-xlarge">1%</h2>
        <p class="bold-xsmall">Someone told me to contact you</p>
        <p class="font-xsmall text-supporting"><span class="data-neutral-arrow">&#9650;</span>+3% since Jun 2015</p>
      </div>
    </div>
  </div>

  

</main>

{% endblock %}


