{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">User effort</h2>
      <p>Data collected at contact centres to find the reasons services are creating extra effort for their users. <a href="glossary">Read more about what this means</a>.</p>
    </div>  
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-large">425k <span class="bold-medium">calls taken</span></h2>
      <p class="font-xsmall text-supporting"><span class="data-neutral-arrow">&#9660;</span>&minus;10% since Jun 2015</p>
    </div>  
    <div class="column-third">
      <h2 class="heading-large">880 <span class="bold-medium">emails received</span></h2>
      <p class="font-xsmall text-supporting"><span class="data-neutral-arrow">&#9650;</span>+10% since Jun 2015</p>
    </div>  
  </div> 

  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-medium">Reasons users get in touch</h3>
      <p class="font-xsmall text-supporting">Based on a sample of 1,000 calls and 200 emails</p>
    </div>  
  </div>  

  <div class="grid-row">
    <div class="column-half">
      <p>I want to check the status of something</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 65%">
         <h4 class="bold-medium">65%</h4>
         </span>
       </span>
    </div>  
  </div> 

  <div class="grid-row">
    <div class="column-half">
      <p>I need more information</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 19%">
          <h4 class="bold-medium">19%</h4>
         </span>
       </span>
    </div>  
  </div> 

  <div class="grid-row">
    <div class="column-half">
      <p>I had to get in contact</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 8%">
          <h4 class="bold-medium">8%</h4>
         </span>
       </span>
    </div>  
  </div>

  <div class="grid-row">
    <div class="column-half">
      <p>I need additional support</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 7%">
          <h4 class="bold-medium">7%</h4>
         </span>
       </span>
    </div>  
  </div>

  <div class="grid-row">
    <div class="column-half">
      <p>I want to challenge a decision</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 1%">
          <h4 class="bold-medium">1%</h4>
         </span>
       </span>
    </div>  
  </div>



  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-medium">Reasons users have to repeat or amend something</h3>
      <p class="font-xsmall text-supporting warning-text">Based on a range of sampling methods so numbers are indicative</p>
    </div> 
  </div> 

  <div class="grid-row">
    <div class="column-half">
      <p>User's information is incomplete</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 37%">
         <h4 class="bold-medium">37%</h4>
         </span>
       </span>
    </div>  
  </div>

  <div class="grid-row">
    <div class="column-half">
      <p>User followed the wrong process</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 31%">
         <h4 class="bold-medium">31%</h4>
         </span>
       </span>
    </div>  
  </div> 

  <div class="grid-row">
    <div class="column-half">
      <p>User's information is illegible</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 21%">
         <h4 class="bold-medium">21%</h4>
         </span>
       </span>
    </div>  
  </div> 
 

  <div class="grid-row">
    <div class="column-half">
      <p>User's information doesn't match government records</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 11%">
         <h4 class="bold-medium">1%</h4>
         </span>
       </span>
    </div>  
  </div>  

    

  </div> 

  <hr>
  

</main>

{% endblock %}


