{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">User effort</h2>
      <p>Reasons services are creating extra effort for their users. <a href="glossary">Read more about what this means</a>.</p>
    </div>  
  </div> 

  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-medium">Reasons users get in touch</h3>
      <p class="font-xsmall text-supporting">Based on a sample of 1,000 calls and 200 emails</p>
    </div>  
  </div>  

  <div class="grid-row">
    <div class="column-half">
      <p>I need to check the status of something</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 65%">
         <h4 class="bold-medium">65%</h4>
         </span>
       </span>
    </div>  
  </div> 

  <div class="grid-row">
    <div class="column-half">
      <p>I need more information on what to do</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 19%">
          <h4 class="bold-medium">19%</h4>
         </span>
       </span>
    </div>  
  </div> 

  <div class="grid-row">
    <div class="column-half">
      <p>I think you've made an error</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 8%">
          <h4 class="bold-medium">8%</h4>
         </span>
       </span>
    </div>  
  </div>

  <div class="grid-row">
    <div class="column-half">
      <p>My situation has changed</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 4%">
          <h4 class="bold-medium">4%</h4>
         </span>
       </span>
    </div>  
  </div>

  <div class="grid-row">
    <div class="column-half">
      <p>I have difficulty using a computer</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 3%">
          <h4 class="bold-medium">3%</h4>
         </span>
       </span>
    </div>  
  </div>

  <div class="grid-row">
    <div class="column-half">
      <p>Someone told me to contact you</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 1%">
          <h4 class="bold-medium">1%</h4>
         </span>
       </span>
    </div>  
  </div>



  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-medium">Reasons users have to repeat or amend something</h3>
      <p class="font-xsmall text-supporting warning-text">Based on a range of sampling methods so numbers are indicative</p>
    </div> 
  </div> 

  <div class="grid-row">
    <div class="column-half">
      <p>I followed the process incorrectly</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 37%">
         <h4 class="bold-medium">37%</h4>
         </span>
       </span>
    </div>  
  </div>

  <div class="grid-row">
    <div class="column-half">
      <p>I followed the wrong process</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 31%">
         <h4 class="bold-medium">31%</h4>
         </span>
       </span>
    </div>  
  </div> 

  <div class="grid-row">
    <div class="column-half">
      <p>The information I sent was illegible</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 21%">
         <h4 class="bold-medium">21%</h4>
         </span>
       </span>
    </div>  
  </div> 

  <div class="grid-row">
    <div class="column-half">
      <p>Government made an error</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 10%">
         <h4 class="bold-medium">10%</h4>
         </span>
       </span>
    </div>  
  </div> 

  <div class="grid-row">
    <div class="column-half">
      <p>The information I sent doesn't match government records</p>
    </div>
    <div class="column-half">
      <span class="spark-bar">
         <span style="width: 1%">
         <h4 class="bold-medium">1%</h4>
         </span>
       </span>
    </div>  
  </div>  

    

  </div> 

  <hr>
  

</main>

{% endblock %}


