{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h3 class="heading-large">Reasons users get in touch with services</h3>

      <h4 class="heading-medium">I need more information on what to do</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>couldn't find what they needed online</li>
        <li>couldn't understand our website</li>
        <li>needs to know more about something</li>
      </ul>

      <h4 class="heading-medium">I need to check what's going on</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>wants to know what's happened to information they've previously supplied</li>
        <li>wants to know if something is still valid</li>
        <li>wants to know why they haven't heard back about something</li>
      </ul>

      <h4 class="heading-medium">I think you've made an error</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>wants to appeal a decision</li>
        <li>has been sent incorrect information</li>
      </ul>

      <h4 class="heading-medium">I have difficulty using a computer</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>is unable to use the service due to a disability</li>
        <li>isn't confident using a computer</li>
        <li>doesn't have access to a computer</li>
      </ul>

      <h4 class="heading-medium">My situation has changed</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>wants to update information held about themselves due to a recent change in circumstances</li>
        <li>wants to de-register from something</li>
        <li>has lost something, such as a license or certificate</li>     
      </ul>

      <h4 class="heading-medium">Someone told me to contact you</h4>
      <p>This could include:</p>
      <ul class="list list-bullet">
        <li>was asked to get in contact as part of the service</li>
        <li>contacting the service is the only way to do what they want to do</li>
      </ul>

    </div>  
  </div>



    

  </div> 
  

</main>

{% endblock %}


