{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge" style="margin-bottom:0px;">Group performance data of services</h1>
    </div>
  </div>

	<div class="grid-row">

    <!-- left column with filters -->

    <div class="column-one-third filter-panel">
    	<h3 class="heading-medium">
    		Filter by
  		</h3>

      <div class="form-group">
        <div class="test-case" style="overflow: visible">
          <label for="department" class="department-label">Department or Agency</label>
          <div>
            <select id="department" class="typeahead js-hidden form-control-1" name="department" aria-required="true">
              <option value=""></option>
              <option value="Department for Education">Department for Education</option>
              <option value="Department for Transport">Department for Transport</option>
              <option value="Driver and Vehicle Licensing Agency DVLA">Driver and Vehicle Licensing Agency</option>
              <option value="Driver and Vehicle Standards Agency DVSA">Driver and Vehicle Standards Agency</option>
              <option value="Education Funding Agency EFA">Education Funding Agency EFA</option>
              <option value="HM Revenue &amp; Customs">HM Revenue &amp; Customs</option>
              <option value="Home Office">Home Office</option>
              <option value="Ofsted">Ofsted</option>
              <option value="Student Finance England SFE">Student Finance England SFE</option>
            </select>
          </div>
        </div>
      </div> 

      <!-- <div class="form-group">
        <div class="test-case" style="overflow: visible">
          <label for="transaction" class="transaction-label">Transaction</label>
          <div>
            <select id="transaction" class="typeahead js-hidden form-control-1" name="transaction" aria-required="true">
              <option value=""></option>
              <option value="Apply for a provisional driving license">Apply for a provisional driving license</option>
              <option value="Apply for a boating license">Apply for a boating license</option>
            </select>
          </div>
        </div>
      </div>  --> 

      <div class="form-group">
        <label class="form-label" for="select-box">Topic</label>
        <select class="form-control form-control-1" id="topics">
          <option></option>
          <option value="Boating">Boating</option>
          <option value="Driving">Driving</option>
          <option value="Early years and childcare">Early years and childcare</option>
        </select>
      </div>

    </div>

    <!-- main content column -->

    <div class="column-two-thirds">

      <div class="grid-row">
        <div class="column-full">
        	<h3 class="heading-medium">
        		Showing <span id="number-of-items"></span> services
      		</h3>
        	<ul class="filter-tags">
            <!-- tags generated in jquery when a filter is selected -->
        	</ul>
        </div>  
      </div>  

      <ul id="transactions">

        <!-- a transaction -->
        <li class="transaction-listing" data-dep="Department for Transport" data-topic="Boating">
          <div class="grid-row">
            <div class="column-full">
              <h3 class="heading-medium"><a href="#">Apply for a boating license</a></h3>
              <p class="text-supporting">Department for Transport</p>
            </div>
          </div> 
          <div class="grid-row"> 
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">3.6k</h3>
                <p class="bold-xsmall">transactions</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">89%</h3>
                <p class="bold-xsmall">transactions completed</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">80%</h3>
                <p class="bold-xsmall">transactions online</p>
              </div>
            </div>
          </div>  
        </li>

        <!-- a transaction -->
        <li class="transaction-listing" data-dep="Department for Transport" data-topic="Driving">
          <div class="grid-row">
            <div class="column-full">
              <h3 class="heading-medium"><a href="transaction-page">Apply for a provisional driving license</a></h3>
              <p class="text-supporting">Department for Transport</p>
            </div>
          </div> 
          <div class="grid-row"> 
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">3.6k</h3>
                <p class="bold-xsmall">transactions</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">89%</h3>
                <p class="bold-xsmall">transactions completed</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">80%</h3>
                <p class="bold-xsmall">transactions online</p>
              </div>
            </div>
          </div>  
        </li>

        <!-- a transaction -->
        <li class="transaction-listing" data-dep="Home Office" data-topic="Early years and childcare">
          <div class="grid-row">
            <div class="column-full">
              <h3 class="heading-medium"><a href="#">Apply to foster a child through your council</a></h3>
              <p class="text-supporting">Home Office</p>
            </div>
          </div> 
          <div class="grid-row"> 
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">3.6k</h3>
                <p class="bold-xsmall">transactions</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">89%</h3>
                <p class="bold-xsmall">transactions completed</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">80%</h3>
                <p class="bold-xsmall">transactions online</p>
              </div>
            </div>
          </div>  
        </li>

        <!-- a transaction -->
        <li class="transaction-listing" data-dep="Home Office" data-topic="Early years and childcare">
          <div class="grid-row">
            <div class="column-full">
              <h3 class="heading-medium"><a href="#">Become a child's legal parent</a></h3>
              <p class="text-supporting">Home Office</p>
            </div>
          </div> 
          <div class="grid-row"> 
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">3.6k</h3>
                <p class="bold-xsmall">transactions</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">89%</h3>
                <p class="bold-xsmall">transactions completed</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">80%</h3>
                <p class="bold-xsmall">transactions online</p>
              </div>
            </div>
          </div>  
        </li>

        <!-- a transaction -->
        <li class="transaction-listing" data-dep="Home Office" data-topic="Early years and childcare">
          <div class="grid-row">
            <div class="column-full">
              <h3 class="heading-medium"><a href="#">Order a copy of a birth, death or marriage certificate</a></h3>
              <p class="text-supporting">Home Office</p>
            </div>
          </div> 
          <div class="grid-row"> 
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">3.6k</h3>
                <p class="bold-xsmall">transactions</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">89%</h3>
                <p class="bold-xsmall">transactions completed</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">80%</h3>
                <p class="bold-xsmall">transactions online</p>
              </div>
            </div>
          </div>  
        </li>

        <!-- a transaction -->
        <li class="transaction-listing" data-dep="Department for Transport" data-topic="Driving">
          <div class="grid-row">
            <div class="column-full">
              <h3 class="heading-medium"><a href="#">Practise your driving theory test</a></h3>
              <p class="text-supporting">Department for Transport</p>
            </div>
          </div> 
          <div class="grid-row"> 
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">3.6k</h3>
                <p class="bold-xsmall">transactions</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">89%</h3>
                <p class="bold-xsmall">transactions completed</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">80%</h3>
                <p class="bold-xsmall">transactions online</p>
              </div>
            </div>
          </div>  
        </li>

        <!-- a transaction -->
        <li class="transaction-listing" data-dep="Home Office" data-topic="Early years and childcare">
          <div class="grid-row">
            <div class="column-full">
              <h3 class="heading-medium"><a href="#">Register a birth</a></h3>
              <p class="text-supporting">Home Office</p>
            </div>
          </div> 
          <div class="grid-row"> 
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">3.6k</h3>
                <p class="bold-xsmall">transactions</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">89%</h3>
                <p class="bold-xsmall">transactions completed</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">80%</h3>
                <p class="bold-xsmall">transactions online</p>
              </div>
            </div>
          </div>  
        </li>

        <!-- a transaction -->
        <li class="transaction-listing" data-dep="Department for Transport" data-topic="Driving">
          <div class="grid-row">
            <div class="column-full">
              <h3 class="heading-medium"><a href="#">Report an illegal driving instructor</a></h3>
              <p class="text-supporting">Department for Transport</p>
            </div>
          </div> 
          <div class="grid-row"> 
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">3.6k</h3>
                <p class="bold-xsmall">transactions</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">89%</h3>
                <p class="bold-xsmall">transactions completed</p>
              </div>
            </div>
            <div class="column-one-third">
              <div class="data">
                <h3 class="bold-large">80%</h3>
                <p class="bold-xsmall">transactions online</p>
              </div>
            </div>
          </div>  
        </li>

        

        

      </ul>    


      
      
    </div>


  </div>

</main>

{% endblock %}

{% block body_end %}
{{ super() }}
  <script src="/public/javascripts/patterns/autocomplete/03/typeahead-aria.js"></script>
  <script src="/public/javascripts/patterns/autocomplete/03/init-autocomplete.js"></script>
  <script src="/public/javascripts/custom-grouping-filter.js"></script>
  <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
{% endblock %}
