{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
      	<span class="heading-secondary">Performance data for</span>
      	Childcare and parenting
      </h1>
    </div>
    <div class="column-third">
      <br><br>
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV, 10KB)</a>
        </strong>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="time-period-selector">
        <ul>
          <li>View data for past</li>
          <li><a href="#">3 months</a></li> |
          <li id="time-period-selected">1 year</li> |
          <li><a href="#">2 years</a></li>
        </ul>  
      </div> 
    </div> 
    <div class="column-one-third"> 
      <p style="opacity:0">.</p> 
    </div>
  </div>

  <!-- summary -->

  <div class="grid-row data-summary">
    <div class="column-full">
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">42</h2>
          <p class="bold-xsmall">services
          <br><a href="#service-list">See all</a></p>
        </div>
      </div>
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">3.1m</h2>
          <p class="bold-xsmall">transactions
          <br><a href="#transactions">More info</a></p>
        </div>
      </div> 
      <div class="column-one-third data-box">
        <div class="data">
          <h2 class="bold-xlarge">69%</h2>
          <p class="bold-xsmall">transactions online
          <br><a href="#channel-breakdown">More info</a></p>
        </div>
      </div> 
    </div>    
  </div>

  <!-- transactions info -->

  <div class="grid-row" id="transactions">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">3.1m</h2>
        <p class="bold-medium">transactions</p>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with the most transactions</h4>
      <ul class="list trending-figures">
        <li><span>967k</span> <a href="#">Child benefit: claim form</a></li>
        <li><span>698k</span> <a href="../transactions/register-a-birth">Register a birth</a></li>
        <li><span>500k</span> <a href="#">Claim child tax credit</a></li>
        <li><span>456k</span> <a href="#">Apply for a primary school place</a></li>
        <li><span>321k</span> <a href="#">Order a copy of a birth, death or marriage certificate</a></li>
      </ul> 
      <br>

      <h4 class="heading-small">Services with the least transactions</h4>
      <ul class="list trending-figures">
        <li><span>0</span> <a href="#">Parental Order Register applications</a></li>
        <li><span>0</span> <a href="#">Provider of childcare on non-domestic premises: registrations</a></li>
        <li><span>0</span> <a href="#">Find help to get your child back from abroad or arrange contact</a></li>
        <li><span>25</span> <a href="#">Stop someone getting a passport</a></li>
        <li><span>1,000</span> <a href="#">Correct a birth registration</a></li>
      </ul>
    </div> 

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div>

  <hr>

  <!-- channel breakdown - need to change service data to be a table layout so numbers can align correctly -->

  <div class="grid-row" id="channel-breakdown">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">69%</h2>
        <p class="bold-medium">transactions online</p>
      </div>  
      <!-- <p class="lede"><span class="data-increase-arrow">&#9650;</span> +1.2% increase</p> -->
      <div class="data breakdown">
        <h3 class="bold-large">18% <span class="lede">face-to-face</span></h3>
        <h3 class="bold-large">10% <span class="lede">phone</span></h3>
        <h3 class="bold-large">3% <span class="lede">paper</span></h3>
      </div>
    </div>  

    <div class="column-two-thirds">
      <h4 class="heading-small">Services with the highest percentage of online transactions</h4>
      <ul class="list trending-figures">
        <li><span>98%</span> <a href="#">Name of service</a></li>
        <li><span>93%</span> <a href="#">Name of service</a></li>
        <li><span>89%</span> <a href="#">Name of service</a></li>
        <li><span>89%</span> <a href="#">Name of service</a></li>
        <li><span>87%</span> <a href="#">Name of service</a></li>
      </ul>
      <br>
      <h4 class="heading-small">Services with the highest percentage of offline transactions</h4>
      <ul class="list trending-figures">
        <li><span>100%</span> <a href="#">Register a birth</a></li>
        <li><span>100%</span> <a href="#">Name of service</a></li>
        <li><span>100%</span> <a href="#">Name of service</a></li>
        <li><span>98%</span> <a href="#">Name of service</a></li>
        <li><span>98%</span> <a href="#">Name of service</a></li>
      </ul>
    </div> 

  </div>  

  <br>

  <div class="grid-row">
    <div class="column-two-thirds">
      <details>
        <summary><span class="summary font-xsmall">How is this data calculated?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Data for online usage is collected via analytics software. Data for all other channels is collected at contact centres. Data is submitted on a quarterly basis.</p>
        </div>
      </details>
    </div>
  </div>  

  <hr>

  <!-- full list of services -->

  <div class="grid-row" id="service-list">

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">42</h2>
        <p class="bold-medium">services</p>
      </div>
    </div> 

    <div class="column-two-thirds">
      <h4 class="heading-small">Pregnancy and childbirth</h4>
      <ul class="list">
        <li><a href="#">Sure start maternity claim form</a></li>
        <li><a href="#">Register a birth</a></li>
        <li><a href="#">Order a copy of a birth, death or marriage certificate</a></li>
        <li><a href="#">Apply to foster a child through your council</a></li>
        <li><a href="#">Maternity allowance claim form</a></li>
        <li><a href="#">Application for Healthy Start vouchers</a></li>
        <li><a href="#">Register a birth abroad</a></li>
        <li><a href="#">Register a stillbirth</a></li>
        <li><a href="#">Appeal to the Social Security and Child Support Tribunal</a></li>
      </ul>
      <h4 class="heading-small">Fostering, adoption and surrogacy</h4>
      <ul class="list">  
        <li><a href="#">Apply to adopt a child through your council</a></li>
        <li><a href="#">Apply to foster a child through your council</a></li>
        <li><a href="#">Application for an Adoption Order</a></li>
        <li><a href="#">Become a child's legal parent</a></li>
        <li><a href="#">Ordinary Statutory Paternity Pay and Leave: becoming an adoptive parent (SC4)</a></li>
        <li><a href="#">Ordinary Statutory Paternity Pay and Leave: adopting a child from abroad (SC5)</a></li>
        <li><a href="#">Statutory Adoption Pay and Leave: adopting a child from abroad (SC6)</a></li>
        <li><a href="#">Additional Statutory Paternity Pay and Leave: becoming an adoptive parent (SC8)</a></li>
        <li><a href="#">Additional Statutory Paternity Pay and Leave: adopting a child from abroad (SC9)</a></li>
        <li><a href="#">Additional Statutory Paternity Pay and Leave: death of the mother or adopter (SC10)</a></li>
      </ul>
      <h4 class="heading-small">Time off work when you have a child</h4>
      <ul class="list">  
        <li><a href="#">Ordinary Statutory Paternity Pay and Leave: becoming a birth parent (SC3)</a></li>
        <li><a href="#">Additional Statutory Paternity Pay and Leave: becoming a parent (SC7)</a></li>
        <li><a href="#">Additional Statutory Paternity Pay and Leave: death of the mother or adopter (SC10)</a></li>
      </ul>  
      <h4 class="heading-small">Financial help for a child</h4>
      <ul class="list">
        <li><a href="#">Child benefit:claim form</a></li>
        <li><a href="#">Claim and deal with Child Benefit for someone else</a></li>
        <li><a href="#">Higher income child benefit charge: request for information</a></li>
        <li><a href="#">Guardian's Allowance: claim form</a></li>
        <li><a href="#">Report changes that affect your Child Benefit</a></li>
        <li><a href="#">Repay Child Benefit overpayments</a></li>
        <li><a href="#">Claim child tax credit</a></li>
        <li><a href="#">Claim working tax credit</a></li>
        <li><a href="#">Disability Living Allowance (DLA) for children: claim form</a></li>
      </ul>
      <h4 class="heading-small">Childcare</h4>
      <ul class="list">  
        <li><a href="#">Find a Sure Start Children's Centre</a></li>
        <li><a href="#">Find an Ofsted inspection report</a></li>
        <li><a href="#">Find a nursery school place</a></li>
        <li><a href="#">Find a registered childminder</a></li>
        <li><a href="#">Find free early education and childcare</a></li>
      </ul>
      <h4 class="heading-small">Schools and education</h4>
      <ul class="list">  
        <li><a href="#">Apply for a primary school place</a></li>
        <li><a href="#">Apply for a secondary school place</a></li>
        <li><a href="#">Appeal a school admission decision</a></li>
        <li><a href="#">Help with school clothing costs</a></li>
        <li><a href="#">Apply for school transport for a child with special educational needs</a></li>
        <li><a href="#">Apply for free school meals</a></li>
        <li><a href="#">Child Tax Credit when your child reaches 16</a></li>
      </ul>
      <h4 class="heading-small">Child maintenance</h4>
      <ul class="list">  
        <li><a href="#">Apply to the Child Maintenance Service</a></li>
        <li><a href="#">Application for declaration of parentage</a></li>
        <li><a href="#">Adding a father's name to a birth certificate</a></li>
        <li><a href="#">Correct a birth registration</a></li>
        <li><a href="#">Stop someone getting a passport</a></li>
      </ul>
      <h4 class="heading-small">Changing child custody</h4>
      <ul class="list">  
        <li><a href="#">Find help to get your child back from abroad or arrange contact</a></li>
      </ul>
    </div>  

  </div>

</main>

{% endblock %}


