{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Performance Platform Prototypes</h1>
      <p class="lede">
        Links to any prototypes created during development of the Performance Platform.
      </p>

      <h2 class="heading-medium">Discovery 🔍</h2>
      <ul class="list list-bullet">
				<li>
					<a href="https://performance-prototype.herokuapp.com/">
						Data download page
					</a>
					<p class="font-xsmall">
					  For consumers of performance data
					</p>
				</li>
				<li>
					<a href="https://performance-prototype.herokuapp.com/performance/setup/transaction/new">
						Characteristics Capture Form
					</a>
					<p class="font-xsmall">
					  For people submitting new transactions
					</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-half">
			<h2 class="heading-medium">Disco-Alpha 🎉</h2>
		</div>	
	</div>	
		
	<div class="grid-row">	
		<div class="column-one-third">
			<p>Patterns</p>
			<ul class="list list-bullet">
				<li>
					<a href="/disco-alpha/contextual-info/">
						Contextual info
					</a>
				</li>
				<li>
					<a href="/disco-alpha/trending-data">
						Trending data
					</a>
				</li>
				<li>
					<a href="/disco-alpha/proportional-data">
						Proportional data
					</a>
				</li>
				<li>
					<a href="/disco-alpha/numbers-and-lists">
						Numbers and lists
					</a>
				</li>
			</ul>
		</div>
		
		<div class="column-one-third">	
			<p>Pages</p>
			<ul class="list list-bullet">	
				<li>
					<a href="/disco-alpha/department-page/">
						Department
					</a>
				</li>
				<li>
					<a href="/disco-alpha/theme-page/">
						Theme
					</a>
				</li>
				<li>
					<a href="/disco-alpha/landing-page/">
						Landing / intro 
					</a>
				</li>
			</ul>
		</div>	

  </div>
</main>

{% endblock %}


