{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">This is a prototype</h1>

      <!-- <p class="lede">
      	It's a pretty good one too.
      </p>	 -->

      <p>
        Want to use this prototype? You&rsquo;re going to have to read this text first. Go on &mdash; run your eyes across the words. Every. Last. One. Take it in. Process. It will soon dawn on you that this paragraph means absolutely nothing. 
      </p>

      <!-- <div class="notice">
	    <i class="icon icon-important">
	      <span class="visuallyhidden">Warning</span>
	    </i>
	    <strong class="bold-small">
	      You can be fined up to £5,000 if you don’t like my prototype.
	    </strong>
	  </div><br> -->

      <details>

	    <summary><span class="summary">More information</span></summary>

	    <div class="panel panel-border-narrow">

	      <p>
	        Sorry, there isn&rsquo;t actually any more information. Fooled you!
	      </p>

	    </div>

	  </details><br>

      <a class="button button-start" href="/step-1/" role="button">Do a thing</a>

      <h2 class="heading-medium">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>
      <p>You can change the service name by editing the file '/app/config.js'.</p>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/examples">Example pages and patterns</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
						Read the full documentation</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>

    <!-- <div class="column-one-third">
    	<h3 class="heading-medium">This is a right hand column</h3>
    	<p>Some more information here</p>
    </div> -->

  </div>
</main>

{% endblock %}


