{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="header-banner">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your feedback will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
         Check how government services are doing
      </h1>
      <p>
        See how people are accessing services, how many transactions are happening, and the ways services may be creating extra effort for their users.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form>
        <fieldset>
          <div class="form-group search">
            <div class="test-case">
              <select id="organisation" type="search" class="typeahead js-hidden form-control-1" name="organisation" aria-required="true" placeholder="Search by department, agency, service or task">
                <option value=""></option>
                <!-- departments -->
                <option value="Department for Education">Department for Education</option>
                <option value="Department for Environment, Food & Rural Affairs">Department for Environment, Food &amp; Rural Affairs</option>
                <option value="Department for Transport">Department for Transport</option>
                <option value="Department for Work and Pensions">Department for Work and Pensions</option>
                <option value="Department of Health">Department of Health</option>
                <option value="HM Revenue & Customs">HM Revenue &amp; Customs</option>
                <option value="Home Office">Home Office</option>
                <option value="Ministry of Justice">Ministry of Justice</option>
                <!-- agencies -->
                <option value="Driver and Vehicle Licensing Agency DVLA">Driver and Vehicle Licensing Agency DVLA</option>
                <option value="Driver and Vehicle Standards Agency DVSA">Driver and Vehicle Standards Agency DVSA</option>
                <option value="Education Funding Agency EFA">Education Funding Agency EFA</option>
                <option value="HM Courts & Tribunals Service">HM Courts &amp; Tribunals Service</option>
                <option value="HM Prison Service">HM Prison Service</option>
                <option value="Independent Police Complaints Commission IPCC">Independent Police Complaints Commission IPCC</option>
                <option value="NHS England">NHS England</option>
                <option value="NHS Blood and Transplant">NHS Blood and Transplant</option>
                <option value="Ofgem">Ofgem</option>
                <option value="Ordnance Survey">Ordnance Survey</option>
                <option value="Skills Funding Agency SFA">Skills Funding Agency SFA</option>
                <option value="Student Loans Company SLC">Student Loans Company SLC</option>
                <!-- services -->

                <!-- tasks -->

              </select>
            </div>  
            <input class="submit" type="submit">  
          </div>    
        </fieldset>  
      </form>
      <p>Or <a href="#">view summary</a></p>
    </div>
  </div>    

  <!-- <div class="grid-row">
    <div class="column-two-thirds">
      <a class="button" href="grouping" role="button">View summary</a>
      <a class="button" href="custom-data-view" role="button">Custom data view</a>
    </div>
  </div> -->

</div>

<!-- <main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">Latest activity</h2>
      <p class="feeds">Get updates <a class="feed-email" href="#">email</a> <a class="feed-feed" href="#">feed</a></p>
    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xxlarge">5</h2>
        <p class="bold-medium">digital services went live</p>
      </div>
    </div>
    <div class="column-two-thirds">
      <table class="trend-table">
        <tbody>
          <tr>
            <td>
              <a href="">Appeal a council tax valuation</a>
              <br><span class="font-xsmall grey-text">Home Office</span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="">Apply for a European Patent</a>
              <br><span class="font-xsmall grey-text">Department for Business, Energy and Industrial Strategy</span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="">Book a prison visit</a>
              <br><span class="font-xsmall grey-text">Ministry of Justice</span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="">Renew a trademark</a>
              <br><span class="font-xsmall grey-text">Department for Business, Energy and Industrial Strategy</span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="">Replace a driving license</a>
              <br><span class="font-xsmall grey-text">Department for Transport</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>    


  <div class="grid-row">
    <div class="column-one-third">
      <h3 class="bold-medium">Biggest changes to transaction numbers</h3>
      <br>
      <p class="font-xsmall">View by<br>
      <a href="#" id="selected">Department</a><br>
      <a href="#">Agency</a><br>
      <a href="#">Service</a><br>
      <a href="#">Task</a><br></p>
    </div>

    <div class="column-two-thirds">
      <table class="trend-table">
        <tbody>
          <tr>
            <td class="numeric">&plus; 22,897 <span class="data-increase-arrow">&#9650;</span></td>
            <td><a href="">Department for Transport</a></td>
          </tr>
          <tr>
            <td class="numeric">&minus; 18,002 <span class="data-decrease-arrow">&#9660;</span></td>
            <td><a href="">Home Office</a></td>
          </tr>
          <tr>
            <td class="numeric">&minus; 9,077 <span class="data-decrease-arrow">&#9660;</span></td>
            <td><a href="">Ministry of Justice</a></td>
          </tr>
          <tr>
            <td class="numeric">&plus; 8,987 <span class="data-increase-arrow">&#9650;</span></td>
            <td><a href="">Department for Business, Energy and Industrial Strategy</a></td>
          </tr>
          <tr>
            <td class="numeric">&plus; 8,421 <span class="data-increase-arrow">&#9650;</span></td>
            <td><a href="">Department for Work and Pensions</a></td>
          </tr>
        </tbody>
      </table>
    </div>  
      
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-one-third">
      <h3 class="bold-medium">Biggest channel shifts</h3>
      <br>
      <p class="font-xsmall">View by<br>
      <a href="#" id="selected">Department</a><br>
      <a href="#">Agency</a><br>
      <a href="#">Service</a><br>
      <a href="#">Task</a><br></p>
    </div>

    <div class="column-two-thirds">
      <table class="trend-table">
        <tbody>
          <tr>
            <td class="numeric">&plus; 30% <span class="data-increase-arrow">&#9650;</span></td>
            <td><a href="">Department for Education</a> shift to online</td>
          </tr>
          <tr>
            <td class="numeric">&plus; 28% <span class="data-increase-arrow">&#9650;</span></td>
            <td><a href="">HM Revenue &amp; Customs</a> shift to online</td>
          </tr>
          <tr>
            <td class="numeric">&minus; 21% <span class="data-decrease-arrow">&#9660;</span></td>
            <td><a href="">Ministry of Justice</a> shift from paper</td>
          </tr>
          <tr>
            <td class="numeric">&plus; 19% <span class="data-increase-arrow">&#9650;</span></td>
            <td><a href="">Department of Health</a> shift to phone</td>
          </tr>
          <tr>
            <td class="numeric">&plus; 18% <span class="data-increase-arrow">&#9650;</span></td>
            <td><a href="">Department for Work and Pensions</a> shift to online</td>
          </tr>
        </tbody>
      </table>
    </div>  
      
  </div>

  <hr>

  <div class="grid-row" id="gaap">

    <div class="column-full">
      <h3 class="bold-medium">Government as a Platform adoption</h3>
      <br>
    </div>  

    <div class="column-one-third">
      <div class="data">
        <h2 class="bold-xlarge">2</h2>
        <p class="bold-small">services started using Notify</p>
        <ul class="list font-xsmall">
          <li><span class="bold-xsmall">NEW</span> <a href="#">Apply for a provisional driving license</a></li>
          <li><a href="#">Do a thing with government</a></li>
        </ul>
      </div>
    </div> 
    <div class="column-one-third"> 
      <div class="data">
        <h2 class="bold-xlarge">0</h2>
        <p class="bold-small">services started using Pay</p>
      </div>
    </div> 
    <div class="column-one-third"> 
      <div class="data">
        <h2 class="bold-xlarge">1</h2>
        <p class="bold-small">service started using Verify</p>
        <ul class="list font-xsmall">
          <li><a href="#">Do a thing with government</a></li>
        </ul>
      </div>
    </div>  
  </div>

</main> -->

{% endblock %}

{% block body_end %}
{{ super() }}
  <script src="/public/javascripts/patterns/autocomplete/03/typeahead-aria.js"></script>
  <script src="/public/javascripts/patterns/autocomplete/03/init-autocomplete.js"></script>
{% endblock %}

