{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="header-banner">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
         Find performance data for government services
      </h1>
    </div>
  </div>
</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-third">
      <h3 class="heading-medium"><a href="trends-page">View performance data across government</a></h3>
    </div>
    <div class="column-one-third">
      <h3 class="heading-medium"><a href="custom-grouping">Search for and group specific data</a></h3>
    </div>
    <div class="column-one-third">
      <h3 class="heading-medium"><a href="#">Contribute performance data for your service</a></h3>
    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-medium">What is this?</h3>
      <p>Performance gives government the data to make better decisions about services. We help senior decision makers prioritise work so that government's resources are focussed on the things that have the most impact. All the data we publish is open and freely available to all.</p>
    </div>
  </div>

</main>

{% endblock %}


