{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="header-banner">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
         Find performance data for government services
      </h1>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-third">
      <h4 class="heading-small"><a href="#">View trends and changes across government</a></h4>
    </div>
    <div class="column-one-third">
      <h3 class="heading-small"><a href="#">Search for a specific service or department</a></h4>
    </div>
    <div class="column-one-third">
      <h3 class="heading-small"><a href="#">Contribute performance data for your service</a></h4>
    </div>
  </div>
</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">
        
      </h2>
    </div>
  </div>

</main>

{% endblock %}


